body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

.mainServices {
    height: 801px;
    background: linear-gradient(56.55deg, rgba(0, 0, 0, 0.3) 7.84%, rgba(0, 0, 0, 0) 62.32%), linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../../public/assets/img/bg/bg.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainServices h1 {
    font-weight: 700;
    font-size: 68px;
    font-family: 'Antonio', sans-serif;
    text-transform: uppercase;
    color: #FFFFFF;
}

.mainServicesText {
    margin: 273px 220px;
}

.mainServices span {
    background-color: #F4BD03;
}

.aproachServices {
    background-color: #000000;
    height: 800px;
}

.aproachServices h2 {
    font-weight: 400;
    font-size: 64px;
    font-family: 'Antonio', sans-serif;
    text-transform: uppercase;
    color: #7D7D7D;
    margin-top: 178px;
    margin-bottom: 70px;
}

.aproachServices a {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #FFFFFF!important;
    margin-top: 25px;
    position: relative;
    text-decoration: none;
}

.aproachServices a::after {
    content : " ";
    width: 0%;
    height: 5px;
    background-color: #F4BD03;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

.aproachServices a:hover:after {
    width: 100%!important;
}

.imgModelAproach {
    position: absolute;
    margin-left: -90px;
    margin-top: 220px;
    height: 650px;
}

.aproachServices .LazyLoad {
    opacity: 0;
    transition: all 1s ease-in;
    margin-left: 100%;
  }
  
  .aproachServices .is-visible {
    opacity: 1;
    margin-left: 0%;
  }

.firstColProcess {
    margin-left: 150px;
    margin-bottom: 50px;
}

.firstColProcess h2 {
    font-family: 'Antonio';
    font-weight: 700;
    font-size: 92px;
    color: #000000;
    margin-top: 120px;
}

.firstColProcess p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #989898;
}

.processServices .LazyLoad {
        opacity: 0;
        transition: all 1s ease-in;
        margin-left: -100%;
    }

.processServices .is-visible {
    opacity: 1;
    margin-left: 0%;
  }

.processServices img {
    float: left;
}

.topProcess {
    margin-top: 130px;
}

.secondColProcess h3 {
    font-family: 'Antonio';
    text-transform: uppercase;
    font-weight: 700;
    font-size: 42px;
    color: #F4BD03;
}

.secondColProcess p {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    margin-bottom: 85px;
    padding-right: 60px;
}

.thirdColProcess h3 {
    font-family: 'Antonio';
    text-transform: uppercase;
    font-weight: 700;
    font-size: 42px;
    color: #F4BD03;
}

.thirdColProcess p {
    padding-right: 180px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    margin-bottom: 55px;
}

.goodToKnowServices {
    padding-bottom: 179px;
}

.goodToKnowServices img {
    float: right;
}

    .goodToKnowServices .LazyLoad {
        opacity: 0;
        transition: all 2s ease-in;
        margin-left: 100%;
    }

.goodToKnowServices .is-visible {
    opacity: 1;
    margin-left: 0%;
  }

.goodToKnowText {
    padding-left: 150px;
    margin-top: -40px;
}

.goodToKnowText span {
    font-family: 'Antonio';
    font-weight: 400;
    font-size: 64px;
    color: #F4BD03;
}

.goodToKnowText h2 {
    font-family: 'Antonio';
    font-weight: 400;
    font-size: 64px;
    text-transform: uppercase;
    color: #000000;
}

.goodknowcarousel {
    width: 350px;
}

.addonsServices {
    background-color: #000000;
    height: 1000px;
    text-align: center;
}

.addonsServices h2 {
    font-family: 'Antonio';
    font-weight: 400;
    font-size: 92px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 100px;
    padding-bottom: 100px;
}

.addonsServices img {
    margin-bottom: 40px;
}

.addonsServices h3 {
    font-family: 'Antonio';
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    color: #F4BD03;
    padding-left: 7px;
}

.firstColIconsAddons h3 {
    padding-bottom: 150px;
}

.addonsServices span {
    font-size: 24px;
}

.secondRowAddons {
    padding-left: 100px;
}

@media screen and (max-width: 350px ) {
    .mainServicesText {
        margin: 300px 0px;
    }

    .mainServices h1 {
        font-size: 32px;
        padding-right: 20px;
        padding-left: 32px;
    }

    .rowAproach {
        margin-left: 0px;
    }

    .aproachServices h2 {
        font-size: 32px;
        margin-right: 0px!important;
        margin-top: 110px;
        margin-bottom: 30px;
    }

    .aproachServices {
        height: 800px;
        margin-left: 0px;
        padding-left: 10px;
    }

    .aproachServices a {
        font-size: 20px;
    }

    .imgModelAproach {
        height: 300px;
        margin-top: 0px;
        margin-left: 0px;
    }

    .processServices .firstColProcess {
        margin-left: 0px;
        padding-left: 30px!important;
    }

    .firstColProcess h2 {
        font-size: 46px;
    }

    .firstColProcess p {
        font-size: 15px;
    }

    .processServices img {
        height: 300px;
    }

    .processServices .secondColProcess {
        margin-left: 0px;
        padding-left: 30px!important;
    }

    .secondColProcess h3 {
        font-size: 25px;
    }

    .secondColProcess p {
        font-size: 15px;
        padding-right: 0px;
    }

    .processServices .thirdColProcess {
        margin-left: 0px;
        padding-left: 30px!important;
        margin-top: 0px;
    }

    .thirdColProcess h3 {
        font-size: 25px;
        margin-top: 0px;
    }

    .thirdColProcess p {
        padding-right: 0px;
        font-size: 15px;
        margin-bottom: 90px;
    }

    .goodToKnowServices img {
        height: 200px;
    }

    .goodToKnowText {
        padding-left: 16px;
        margin-top: 100px;
    }

    .goodToKnowText h2 {
        font-size: 32px;
    }

    .goodToKnowText h2 span {
        font-size: 32px;
    }

    .goodknowcarousel {
        width: 150px;
    }    

    .addonsServices {
        height: 2000px;
    }

    .addonsServices h2 {
        font-size: 46px;
    }

    .addonsServices img {
        height: 30px;
    }

    .addonsServices h3 {
        font-size: 25px;
        padding-bottom: 100px;
    }

    .secondRowAddons {
        padding-left: 0px;
    }
}

@media (min-width: 351px) and (max-width: 576px ) {
    .mainServicesText {
        margin: 300px 0px;
    }

    .mainServices h1 {
        font-size: 32px;
        padding-right: 20px;
        padding-left: 32px;
    }

    .rowAproach {
        margin-left: 0px;
    }

    .aproachServices h2 {
        font-size: 32px;
        margin-right: 0px!important;
        margin-top: 110px;
        margin-bottom: 30px;
    }

    .aproachServices {
        height: 800px;
        margin-left: 0px;
        padding-left: 10px;
    }

    .aproachServices a {
        font-size: 20px;
    }

    .imgModelAproach {
        height: 350px;
        margin-top: 0px;
        margin-left: 0px;
    }

    .processServices .firstColProcess {
        margin-left: 0px;
        padding-left: 30px!important;
    }

    .firstColProcess h2 {
        font-size: 46px;
    }

    .firstColProcess p {
        font-size: 15px;
    }

    .processServices img {
        height: 500px;
    }

    .processServices .secondColProcess {
        margin-left: 0px;
        padding-left: 30px!important;
    }

    .secondColProcess h3 {
        font-size: 25px;
    }

    .secondColProcess p {
        font-size: 15px;
        padding-right: 0px;
    }

    .processServices .thirdColProcess {
        margin-left: 0px;
        padding-left: 30px!important;
        margin-top: 0px;
    }

    .thirdColProcess h3 {
        font-size: 25px;
        margin-top: 0px;
    }

    .thirdColProcess p {
        padding-right: 0px;
        font-size: 15px;
        margin-bottom: 90px;
    }

    .goodToKnowServices img {
        height: 300px;
    }

    .goodToKnowText {
        padding-left: 16px;
        margin-top: 100px;
    }

    .goodToKnowText h2 {
        font-size: 32px;
    }

    .goodToKnowText h2 span {
        font-size: 32px;
    }

    .goodknowcarousel {
        width: 150px;
    }    

    .addonsServices {
        height: 2000px;
    }

    .addonsServices h2 {
        font-size: 46px;
    }

    .addonsServices img {
        height: 50px;
    }

    .addonsServices h3 {
        font-size: 25px;
        padding-bottom: 100px;
    }

    .secondRowAddons {
        padding-left: 0px;
    }
}

@media (width: 576px) {
    .mainServices {
        height: 801px;
    }
    
    .mainServices h1 {
        font-size: 36px;
    }
    
    .mainServicesText {
        margin: 300px 100px;
    }
    
    .aproachServices {
        height: 800px;
    }
    
    .aproachServices h2 {
        font-size: 36px;
        margin-top: 178px;
        margin-bottom: 70px;
    }
    
    .aproachServices a {
        font-weight: 400;
        font-size: 20px;
        margin-top: 25px;
    }
    
    .imgModelAproach {
        position: absolute;
        margin-left: -40px;
        margin-top: 220px;
        height: 335px;
    }
    
    .firstColProcess {
        margin-left: 80px;
    }
    
    .firstColProcess h2 {
        font-size: 41px;
    }
    
    .firstColProcess p {
        font-size: 16px;
    }
    
    .processServices img {
        height: 300px;
    }

    .topProcess {
        margin-top: 90px!important;
    }

    .secondColProcess {
        margin-top: 0px;
    }
    
    .secondColProcess h3 {
        font-size: 21px;
    }
    
    .secondColProcess p {
        font-size: 16px;
        padding-right: 0px;
    }

    .thirdColProcess {
        margin-top: 0px;
    }
    
    .thirdColProcess h3 {
        font-size: 21px;
    }
    
    .thirdColProcess p {
        padding-right: 0px;
        font-size: 16px;
    }
    
    .goodToKnowServices img {
        height: 300px;
    }
    
        .goodToKnowServices .LazyLoad {
            opacity: 0;
            transition: all 2s ease-in;
            margin-left: 100%;
        }
    
    .goodToKnowServices .is-visible {
        opacity: 1;
        margin-left: 0%;
      }
    
    .goodToKnowText {
        padding-left: 80px;
        margin-top: -20px;
    }
    
    .goodToKnowText span {
        font-size: 32px;
    }
    
    .goodToKnowText h2 {
        font-size: 32px;
    }
    
    .goodknowcarousel {
        width: 350px;
    }
    
    .addonsServices {
        height: 800px;
    }
    
    .addonsServices h2 {
        font-size: 41px;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    .addonsServices img {
        margin-bottom: 40px;
        height: 30px;
    }
    
    .addonsServices h3 {
        font-size: 20px;
        padding-left: 0px;
    }
    
    .firstColIconsAddons h3 {
        padding-bottom: 150px;
    }
    
    .addonsServices span {
        font-size: 16px;
    }
    
    .secondRowAddons {
        padding-left: 50px;
    }
}

@media (min-width: 577px) and (max-width: 992px ) {
    .mainServices h1 {
        font-size: 36px;
    }
    
    .mainServicesText {
        margin: 300px 100px;
    }
    
    .aproachServices {
        height: 800px;
    }
    
    .aproachServices h2 {
        font-size: 36px;
    }
    
    .aproachServices a {
        font-size: 20px;
    }
    
    .imgModelAproach {
        margin-left: -45px;
        height: 325px;
    }
    
    .firstColProcess {
        margin-left: 75px;
    }
    
    .firstColProcess h2 {
        font-size: 41px;
    }
    
    .firstColProcess p {
        font-size: 15px;
    }
    
    .processServices img {
        height: 400px;
    }
    
    .topProcess {
        margin-top: 90px;
    }
    
    .secondColProcess h3 {
        font-size: 21px;
    }
    
    .secondColProcess p {
        font-size: 15px;
        margin-bottom: 85px;
        padding-right: 90px;
    }
    
    .thirdColProcess h3 {
        font-size: 21px;
    }
    
    .thirdColProcess p {
        padding-right: 90px;
        font-size: 15px;
        margin-bottom: 55px;
    }
    
    .goodToKnowServices img {
        height: 400px;
    }
    
        .goodToKnowServices .LazyLoad {
            opacity: 0;
            transition: all 2s ease-in;
            margin-left: 100%;
        }
    
    .goodToKnowServices .is-visible {
        opacity: 1;
        margin-left: 0%;
      }
    
    .goodToKnowText {
        padding-left: 70px;
        margin-top: -20px;
    }
    
    .goodToKnowText h2 {
        font-size: 32px;
    }
    
    .goodknowcarousel {
        width: 350px;
    }
    
    .addonsServices {
        height: 700px;
    }
    
    .addonsServices h2 {
        font-size: 41px;
    }
    
    .addonsServices img {
        margin-bottom: 40px;
        height: 30px;
    }
    
    .addonsServices h3 {
        font-size: 20px;
        padding-left: 0px;
    }
    
    .firstColIconsAddons h3 {
        padding-bottom: 150px;
    }
    
    .addonsServices span {
        font-size: 16px;
    }
    
    .secondRowAddons {
        padding-left: 50px;
    }
}
