@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&family=Poppins:ital,wght@0,700;1,400&display=swap');

body {
  margin: 0;
  border: 0;
  overflow-x: hidden;
}

.mainContact {
  height: 150vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('/public/assets/img/contact/Sunset.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size:50%;
}

.mainContact .mainContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.mainContact .sunsetImage {
  width: 100%;
  display: flex;
  justify-content: center;
}

.mainContact .mainContent img {
  margin-left: 0px;
} 

.mainContact .mainContent h1 {
  width: 100%;
  font-family: 'Antonio';
  font-style: normal;
  font-weight: 700;
  font-size: 103.75px;
  line-height: 134px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}

.mainContent img {
  margin-right: 220px;
}

.containerMain {
  height: 150vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('/public/assets/img/contact/Sunset.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size:50%;
}

.containerMain .contactusText {
  color: #000000;
}

.containerMain .contactusText h2 {
  width: 958px;
  font-family: 'Antonio';
  font-style: normal;
  font-weight: 700;
  font-size: 4em;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-left: 20px;
  margin-bottom: 50px;
}

.containerMain .contactusText p {
  width: 1010px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 1.6em;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-right: 0px;
  
}

.containerMain .btnStart {
  width: 304px;
  height: 72px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  background: #F4BD03;
  border-radius: 8px;
  border: none;
  margin-left: 336px;
  margin-bottom: 40px;
}

@media (min-width: 992px) and (max-width: 1263px) {
  .mainContact .mainContent h1 {
    font-size: 69.75px;
    line-height: 90px;
  }
  .mainContent img {
    margin-right: 38px;
  }

  .containerMain .contactusText h2 {
    width: 985px;
    font-family: 'Antonio';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-left: 22px;
    margin-top: 50px;
    margin-bottom: 17px;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .containerMain {
    height: 90vh;
  }
  .mainContact .mainContent {
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .mainContact .mainContent h1 {
    font-size: 48px;
    line-height: 52px;
  }
  .mainContent img {
    margin-right: 80px;
    height: 100px;
  }

  .containerMain .contactusText h2 {
    width: 385px;
    font-size: 25px;
    margin-left: 40px;
    margin-bottom: 36px;
  }

  .containerMain .contactusText p {
    width: 460px;
    font-size: 18px;
  }

  .containerMain .btnStart {
    width: 232px;
    height: 54px;
    font-size: 20px;
    line-height: 36px;
    margin-left: 115px;
    margin-bottom: 40px;
  }

  .sunsetImg {
    height: 420px;
  }

}

@media (min-width: 350px) and (max-width: 575px) {
  .mainContact {
    height: 70vh;
  }
  .mainContact .mainContent h1 {
    font-size: 32px;
    line-height: 48px;
  }

  .mainContact .mainContent img {
    margin-left: 0px;
    margin-right: 45px;
    height: 80px;
  }

  .containerMain {
    height: 50vh;
  }

  .containerMain .contactusText h2 {
    width: 119px;
    font-family: 'Antonio';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-left: 125px;
    margin-bottom: 9px;
  }

  .containerMain .contactusText p {
    width: 364px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding-right: 0px;
  }

  .containerMain .btnStart {
    width: 129px;
    height: 37px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 36px;
    text-align: center;
    color: #000000;
    background: #F4BD03;
    border-radius: 8px;
    border: none;
    margin-left: 122px;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 350px) {
  .mainContact {
    height: 70vh;
  }
  .mainContact .mainContent h1 {
    font-size: 24px;
    line-height: 32px;
  }
  .mainContact .mainContent img {
    margin-left: 0px;
    margin-right: 19px;
    height: 60px;
  }
  
}
