@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&family=Poppins:ital,wght@0,700;1,400&display=swap');

body {
  overflow-x: hidden;
}

.mainContact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.mainContact .mainContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: -550px;
  padding-left: 22em;
}

.mainContact .sunsetImage {
  width: 100%;
  display: flex;
  justify-content: center;
}

.mainContact .mainContent img {
  margin-left: -240px;
}

.mainContact .mainContent h1 {
  width: 90%;
  font-family: 'Antonio';
  font-style: normal;
  font-weight: 700;
  font-size: 4.5em;
  line-height: 134px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  margin-left: 15px;
}

.containerMain {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.containerMain .contactusText {
  position: relative;
  color: #000000;
}

.containerMain .contactusText h2 {
  position: absolute;
  width: 720px;
  margin-top: -8em;
  margin-left: -2em;
  font-family: 'Antonio';
  font-style: normal;
  font-weight: 700;
  font-size: 3.1em;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.containerMain .contactusText p {
  position: absolute;
  width: 700px;
  margin-top: -13em;
  margin-left: -5em;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 1.1em;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.containerMain .btnStart {
  position: absolute;
  width: 304px;
  height: 72px;
  left: 570px;
  margin-top: -7em;
  margin-left: -21.5em;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  background: #F4BD03;
  border-radius: 8px;
  border: none;
}

@media screen and (max-width: 350px) {
  .mainContact {
    height: 350px;
    max-width: 335px;
    margin-top: 0;
    display: flex;
    justify-content: center;
  }

  .mainContact .row {
    max-width: 340px;
  }

  .mainContact .sunsetImage {
    max-width: 340px;
  }

  .mainContact .mainContent {
    max-width: 100%;
    padding-left: 1.5em;
    padding-right: 0!important;
  }

  .mainContact .mainContent {
    margin-top: -100px;
    width: 70%;
  }
  
  .mainContact .mainContent h1 {
    width: 100%;
    font-size: 18px;
    color: #000000;
    margin-left: 300px;
    margin-top: -110px;
  }

  .mainContact .mainContent img {
    height: 70px;
    margin-left: 240px;
    margin-top: -180px;
  }
  
  .sunsetImg {
    height: 220px;
    top: 0px;
    margin-left: 40px;
  }

  .containerMain {
    height: 350px;
    max-width: 335px;
    margin-top: 0;
    display: flex;
    justify-content: center;
  }
  
  .containerMain .contactusText {
    max-width: 100%;
    position: relative;
    color: #000000;
  }
  
  .containerMain .contactusText h2 {
    max-width: 52%;
    margin-top: -150px;
    margin-left: 150px;
    font-size: 20px;
    padding-left: 1em;
  }
  
  .containerMain .contactusText p {
    max-width: 55%;
    margin-top: -80px;
    margin-left: 140px;
    font-size: 8px;
  }
  
  .containerMain .btnStart {
    position: absolute;
    width: auto;
    height: 28px;
    margin-top: 170px;
    margin-left: -305px;
    font-size: 12px;
    line-height: 24px;
    border-radius: 8px;
    border: none;
  }
  
}

@media (min-width: 351px) and (max-width: 576px) {
  .mainContact {
    height: 350px;
    max-width: 335px;
    margin-top: 0;
    display: flex;
    justify-content: center;
  }

  .mainContact .row {
    max-width: 340px;
  }

  .mainContact .sunsetImage {
    max-width: 340px;
  }

  .mainContact .mainContent {
    max-width: 100%;
    padding-left: 1.5em;
    padding-right: 0!important;
  }

  .mainContact .mainContent {
    margin-top: -100px;
    width: 70%;
  }
  
  .mainContact .mainContent h1 {
    width: 100%;
    font-size: 18px;
    color: #000000;
    margin-left: 300px;
    margin-top: -110px;
    border: 2px solid blue;
  }

  .mainContact .mainContent img {
    height: 70px;
    margin-left: 240px;
    margin-top: -180px;
  }
  
  .sunsetImg {
    height: 220px;
    top: 0px;
    margin-left: 40px;
  }

  .containerMain {
    height: 350px;
    max-width: 335px;
    margin-top: 0;
    display: flex;
    justify-content: center;
  }
  
  .containerMain .contactusText {
    max-width: 100%;
    position: relative;
    color: #000000;
  }
  
  .containerMain .contactusText h2 {
    max-width: 52%;
    margin-top: -150px;
    margin-left: 150px;
    font-size: 20px;
    padding-left: 1em;
  }
  
  .containerMain .contactusText p {
    max-width: 55%;
    margin-top: -80px;
    margin-left: 140px;
    font-size: 8px;
  }
  
  .containerMain .btnStart {
    position: absolute;
    width: auto;
    height: 28px;
    margin-top: 170px;
    margin-left: -305px;
    font-size: 12px;
    line-height: 24px;
    border-radius: 8px;
    border: none;
  }
}


@media (min-width: 576px) and (max-width: 992px) {
  .mainContact {
    height: 600px;
    max-width: 575px;
    margin-top: 0;
    display: flex;
    justify-content: center;
  }

  .mainContact .row {
    max-width: 340px;
  }

  .mainContact .sunsetImage {
    max-width: 340px;
  }

  .mainContact .mainContent {
    max-width: 100%;
    padding-left: 1.5em;
    padding-right: 0!important;
  }

  .mainContact .mainContent {
    margin-top: -100px;
    width: 70%;
  }
  
  .mainContact .mainContent h1 {
    width: 100%;
    font-size: 18px;
    color: #000000;
    margin-left: 300px;
    margin-top: -110px;
    border: 2px solid blue;
  }

  .mainContact .mainContent img {
    height: 70px;
    margin-left: 10px;
    margin-top: -400px;
  }
  
  .sunsetImg {
    height: 420px;
  }

  .containerMain {
    height: 600px;
    max-width: 575px;
    margin-top: 0;
    display: flex;
    justify-content: center;
  }
  
  .containerMain .contactusText {
    max-width: 100%;
    position: relative;
    color: #000000;
  }
  
  .containerMain .contactusText h2 {
    max-width: 550px;
    margin-top: -320px;
    margin-left: -10px;
    font-size: 34px;
    padding-left: 1em;
  }
  
  .containerMain .contactusText p {
    max-width: 550px;
    margin-top: -200px;
    margin-left: -10px;
    font-size: 16px;
  }
  
  .containerMain .btnStart {
    position: absolute;
    width: 230px;
    height: 48px;
    margin-top: -100px;
    margin-left: -395px;
    font-size: 20px;
    line-height: 24px;
    border-radius: 8px;
    border: none;
  }

}