@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&family=Poppins:wght@300;400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.homeMain {
    min-height: 100vh;
    background: url('/public/assets/img/home/main/hero-2.webp');
    background-position: bottom left;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2% 0;
}

.homeMain.mini{
    min-height: 75vh;
}

@media screen and (max-width: 992px) {
    .homeMain.mini{
        min-height: 60vh;
    }
}

.homeMain .row {
    max-width: 100%;
}

.homeText {
    padding: 0;
}

.homeMain p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: #989898;
}

.homeMain img {
    padding-bottom: 32px;
}

.homePresentations {
    background-color: rgb(244, 189, 3);
    padding: 110px 0px 40px;
    text-align: center;
}


.homePresentations h3 {
    font-size: 27px;
    line-height: 43.5px;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    /* padding: 32px 340px 96px 320px; /* top right bottom left */
}

.homePresentations .homeCarousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.homePresentations .homeCarousel .carousel-control-next-icon,
.homePresentations .homeCarousel .carousel-control-prev-icon {
    display: none;
}
.homePresentations .carousel-indicators {
    display: none;
}

.seeAllProjects{
    margin-top: 20px;
}

.seeAllProjects a {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 10px;
}

.homeQuestions h1 {
    font-family: 'Antonio';
    font-style: normal;
    font-weight: 700;
    font-size: 92px;
    line-height: 130%;
    letter-spacing: 0.16px;
}

.homeQuestions p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0.16px;
}

.homeQuestions hr {
    width: 100%;
    height: 0px;
    border: 2px solid #000000!important;
    opacity: 1;
}

.homeQuestions hr:first-of-type,
.homeQuestions hr:last-of-type {
    border: 1px solid #000000!important;
    margin-top: -12.8px;
    margin-bottom: 16px;
}

.homeQuestions .faqQuestion {
    font-family: 'Antonio';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0.16px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none!important;
}

.homeQuestions .btn-link {
    text-decoration: none!important;
}

.homeQuestions .card-header {
    background-color: #fff;
}

.homeQuestions .card {
    border-bottom: 1px solid #000000!important;
    border: none;
}

.homeQuestions .faqAnswer {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.16px;
    text-transform: uppercase;
    color: #888888;
}


@media screen and (max-width: 350px ) {
    .homeMain p {
        font-size: 18px;
    }
    
    .homeMain img {
        padding-bottom: 32px;
    }

    .homePresentations {
        padding: 40px 20px!important;
    }
    
    .homePresentations h3 {
        font-size: 14px!important;
        line-height: 26px;
        padding: 8px 12px 30px 12px!important;
    }

    .homePresentations .homeCarousel {
        padding-left: 8px;
    }

    .homePresentations img {
        width: 100%;
    }

    .homeQuestions h1 {
        font-size: 28px;
    }

    .homeQuestions p {
        font-size: 16px;
    }

    .homeQuestions .faqQuestion {
        font-size: 18px;
        text-align: left;
    }

    .homeQuestions .faqAnswer {
        font-size: 12px;
    }
    
}

@media (min-width: 351px) and (max-width: 576px ) {
    .homeMain .row {
        margin: 0;
    }

    .homeMain .homeText {
        max-width: 100%;
        margin: 0;
    }

    .homeMain p {
        font-size: 20px;
        padding-right: 50px;
    }

    .homePresentations {
        padding: 40px 0px;
    }
    
    .homePresentations h3 {
        font-size: 18px;
        line-height: 26px;
        padding: 8px 0px 30px 0px;
    }

    .homePresentations .homeCarousel {
        padding-left: 0px;
    }

    .homePresentations img {
        width: 100%;
        height: 180px;
    }


    .homeQuestions {
        text-align: left;
    }
    
    .homeQuestions h1 {
        font-size: 40px;
    }
    
    .homeQuestions p {
        font-size: 22px;
    }
    
    .homeQuestions .faqQuestion {
        text-align: left;
        font-size: 22px;
    }
    
    .homeQuestions .faqAnswer {
        font-size: 18px;
    }
}

@media (min-width: 577px) and (max-width: 992px ) { 
    .homeMain p {
        font-size: 18px;
    }

    .homePresentations {
        padding: 120px 50px;
    }
    
    .homePresentations h3 {
        padding: 8px 20px 30px 20px;
    }

    .homePresentations .homeCarousel {
        padding-left: 0px;
    }

    .homePresentations img {
        width: 100%;
        height: 35px;
        margin-bottom: 20px;
    }

    .homeQuestions .faqQuestion {
        text-align: left;
    }
    
    .homeQuestions .btn-link {
        text-decoration: none!important;
    }
    
    .homeQuestions .card-header {
        background-color: #fff;
    }
    
    .homeQuestions .card {
        border-bottom: 1px solid #000000!important;
        border: none;
    }
    
    .homeQuestions .faqAnswer {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 130%;
        letter-spacing: 0.16px;
        text-transform: uppercase;
        color: #888888;
    }
}

@media only screen and (min-width: 993px) {
    .homePresentations .row {
        width: 100vw;
    }
}

@media screen and (max-width: 480px) {
    .controllerDrag{
        margin-top: 50px;
    }
}

.chomeCarousel{ padding: 100px; }
@media screen and (max-width: 1366px){
    .chomeCarousel{ padding: 50px; }
}
@media screen and (max-width: 1024px){
    .chomeCarousel{ padding: 0px; }
}

@media screen and (max-width: 480px) {
    .homeQuestions{
        padding-bottom: 8rem;
    }

    .accordionContent{
        padding-top: 0 !important;
    }
}
