@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&family=Poppins:wght@300;400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.homeMain {
    width: 1440px;
    height: 714px;
    background: linear-gradient(359.69deg, rgba(0, 0, 0, 0.3) 0.37%, rgba(0, 0, 0, 0) 99.83%), linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/public/assets/img/home/main/bg.webp');
    background-position: center;
    background-size: cover;
    padding-top: 20em;
    padding-left: 5em;
}

.homeMain h1 {
    width: 919px;
    height: 219px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 130%;
    color: #FFFFFF;
}

.homeMain p {
    width: 590px;
    height: 26px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: #989898;
}

.homePartnerships {
    height: 795.09px;
    width: 1440px;
}

.homePartnerships .partnershipsTitle {
    width: 1440px;
    height: 386px;
    background-image: url('../../../public/assets/img/home/Partnerships/Frame.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homePartnerships .col-12 h2 {
    position: absolute;
    width: 1078px;
    height: 114px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 44px;
    line-height: 130%;
    text-align: center;
    color: #000000;
}

.homePartnerships .partnershipsImages {
    padding-left: 10em;
}

.homePartnerships .partnershipsImages .col-12 {
    padding-bottom: 4em;
    display: flex;
    align-items: center;
}

.homeQuestions {
    padding: 5em 5em;
}

.homeQuestions h1 {
    font-family: 'Antonio';
    font-style: normal;
    font-weight: 700;
    font-size: 92px;
    line-height: 130%;
    letter-spacing: 0.1em;
}

.homeQuestions p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0.1em;
}

.homeQuestions hr {
    width: 100%;
    height: 0px;
    border: 2px solid #000000!important;
    opacity: 1;
}

.homeQuestions hr:first-of-type,
.homeQuestions hr:last-of-type {
    border: 1px solid #000000!important;
    margin-top: -0.8em;
    margin-bottom: 1em;
}

.homeQuestions .faqQuestion {
    font-family: 'Antonio';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none!important;
}

.homeQuestions .btn-link {
    text-decoration: none!important;
}

.homeQuestions .card-header {
    background-color: #fff;
}

.homeQuestions .card {
    border-bottom: 1px solid #000000!important;
    border: none;
}

.homeQuestions .faqAnswer {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #888888;
}
