@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&family=Poppins:wght@300;400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.homeMain {
    height: 870px;
    background: linear-gradient(359.69deg, rgba(0, 0, 0, 0.3) 0.37%, rgba(0, 0, 0, 0) 99.83%), linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/public/assets/img/home/main/bg.webp');
    background-position: center;
    background-size: cover;
    padding-top: 190px;
    padding-left: 5em;
}

.homeMain .row {
    max-width: 100%;
}

.homeText {
    padding: 0;
}

.homeMain h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 130%;
    color: #FFFFFF;
    padding-right: 380px;
    padding-top: 150px;
}

.homeMain p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: #989898;
}

.homeMain img {
    padding-bottom: 32px;
}

.homePresentations {
    background-color: rgb(244, 189, 3);
    padding: 120px 0px;
    text-align: center;
}

.homePresentations h3 {
    font-size: 27px;
    line-height: 43.5px;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    padding: 32px 340px 96px 320px; /* top right bottom left */
}

.homePresentations .homeCarousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.homePresentations .homeCarousel .carousel-control-next-icon,
.homePresentations .homeCarousel .carousel-control-prev-icon {
    display: none;
}
.homePresentations .carousel-indicators {
    display: none;
}

.seeAllProjects {
    height: 160px;
    background-color: rgb(40, 44, 52);
    margin-top: -100px!important;
    display: flex;
    justify-content: space-around;
    margin-left: -800px;
}

.seeAllProjects a {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 160px;
}

.homeQuestions {
    padding: 15em 5em;
}

.homeQuestions h1 {
    font-family: 'Antonio';
    font-style: normal;
    font-weight: 700;
    font-size: 92px;
    line-height: 130%;
    letter-spacing: 0.1em;
}

.homeQuestions p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0.1em;
}

.homeQuestions hr {
    width: 100%;
    height: 0px;
    border: 2px solid #000000!important;
    opacity: 1;
}

.homeQuestions hr:first-of-type,
.homeQuestions hr:last-of-type {
    border: 1px solid #000000!important;
    margin-top: -0.8em;
    margin-bottom: 1em;
}

.homeQuestions .faqQuestion {
    font-family: 'Antonio';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none!important;
}

.homeQuestions .btn-link {
    text-decoration: none!important;
}

.homeQuestions .card-header {
    background-color: #fff;
}

.homeQuestions .card {
    border-bottom: 1px solid #000000!important;
    border: none;
}

.homeQuestions .faqAnswer {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #888888;
}


@media screen and (max-width: 350px ) {
    .homeMain {
        height: 850px;
        padding-top: 190px;
        padding-left: 20px!important;
    }
    
    .homeMain h1 {
        max-width: 90%;
        font-size: 24px!important;
        padding-right: 50px;
        padding-top: 10px;
    }
    
    .homeMain p {
        font-size: 18px;
    }
    
    .homeMain img {
        padding-bottom: 32px;
    }

    .homePresentations {
        padding: 40px 20px!important;
    }
    
    .homePresentations h3 {
        font-size: 14px!important;
        line-height: 26px;
        padding: 8px 12px 30px 12px!important;
    }

    .homePresentations .homeCarousel {
        padding-left: 8px;
    }

    .homePresentations img {
        width: 100%;
    }

    .seeAllProjects {
        margin-top: 0px!important;
    }
    
    .seeAllProjects a {
        margin-left: 40px;
    }

    .homeQuestions {
        padding: 100px 32px 0px 32px;
    }

    .homeQuestions h1 {
        font-size: 28px;
    }

    .homeQuestions p {
        font-size: 16px;
    }

    .homeQuestions .faqQuestion {
        font-size: 18px;
        text-align: left;
    }

    .homeQuestions .faqAnswer {
        font-size: 12px;
    }
    
}

@media (min-width: 351px) and (max-width: 576px ) {
    .homeMain {
        height: 950px;
        padding-top: 120px;
        padding-left: 40px;
    }

    .homeMain .row {
        margin: 0;
    }

    .homeMain .homeText {
        max-width: 100%;
        margin: 0;
    }
    
    .homeMain h1 {
        max-width: 90%;
        font-size: 32px;
        padding-right: 100px!important;
        margin-right: 0;
    }
    
    .homeMain p {
        font-size: 20px;
        padding-right: 50px;
    }

    .homePresentations {
        padding: 80px 50px;
    }
    
    .homePresentations h3 {
        font-size: 18px;
        line-height: 26px;
        padding: 8px 20px 30px 20px;
    }

    .homePresentations .homeCarousel {
        padding-left: 0px;
    }

    .homePresentations img {
        width: 100%;
        height: 180px;
    }

    .seeAllProjects {
        margin-top: 0px!important;
        margin-left: -200px;
    }
    
    .seeAllProjects a {
        margin-left: 40px;
    }

    .homeQuestions {
        padding: 80px 30px;
        text-align: left;
    }
    
    .homeQuestions h1 {
        font-size: 40px;
    }
    
    .homeQuestions p {
        font-size: 22px;
    }
    
    .homeQuestions .faqQuestion {
        text-align: left;
        font-size: 22px;
    }
    
    .homeQuestions .faqAnswer {
        font-size: 18px;
    }
}

@media (min-width: 577px) and (max-width: 992px ) { 
    .homeMain {
        height: 850px;
        padding-top:60px;
        padding-left: 80px;
    }
    
    .homeMain h1 {
        font-size: 56px;
        line-height: 130%;
        padding-right: 180px;
        padding-top: 160px;
    }

    .homePresentations {
        padding: 120px 50px;
    }
    
    .homePresentations h3 {
        padding: 8px 20px 30px 20px;
    }

    .homePresentations .homeCarousel {
        padding-left: 0px;
    }

    .homePresentations img {
        width: 100%;
        height: 350px;
    }

    .seeAllProjects {
        margin-top: 0px!important;
    }
    
    .homeQuestions {
        padding: 80px 20px;
    }

    .homeQuestions .faqQuestion {
        text-align: left;
    }
    
    .homeQuestions .btn-link {
        text-decoration: none!important;
    }
    
    .homeQuestions .card-header {
        background-color: #fff;
    }
    
    .homeQuestions .card {
        border-bottom: 1px solid #000000!important;
        border: none;
    }
    
    .homeQuestions .faqAnswer {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 130%;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #888888;
    }

    .seeAllProjects {
        display: flex;
        justify-content: space-around;
        margin-left: -560px;
    }
}