body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

.startANewProject {
    background-color: #EFEFEF;
}

.startANewProject .onSidebar svg{
    animation: onSidebar 1s;
}

@keyframes onSidebar {
    from {color: #000;}
    to {color: #fff;}
}

.startANewProject .outSidebar svg{
    animation: outSidebar 1.5s;
    color: #000;
}

@keyframes outSidebar {
    from {color: #fff;}
    to {color: #000;}
}

.startANewProject .form {
    padding-top: 80px;
}

.startANewProject  .footer {
    height: 500px;
    padding-top: 200px;
    padding-left: 100px;
}

@media screen and (max-width: 350px ) {
    .startANewProject  .footer {
        padding-bottom: 0;
    }
}

@media screen and (max-width: 576px ) {
    .startANewProject  .footer {
        padding-top: 100px;
        height: 700px;
    }
}