body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

.startANewProject {
    background-color: #000;
}

.startANewProject .onSidebar svg{
    animation: onSidebar 1s;
}

@keyframes onSidebar {
    from {color: #000;}
    to {color: #fff;}
}

.startANewProject .outSidebar svg{
    animation: outSidebar 1.5s;
    color: #000;
}

@keyframes outSidebar {
    from {color: #fff;}
    to {color: #000;}
}

.startANewProject .form {
    padding-top: 80px;
}

.startANewProject  .footer {
}

@media screen and (max-width: 350px ) {
    .startANewProject  .footer {
        padding-bottom: 0;
    }
}

@media screen and (max-width: 576px ) {
    .startANewProject  .footer {
        padding-top: 100px;
        height: 700px;
    }
}

.pre-paper-form{
    padding-top: 10rem;
    text-align: center;
}

.body1{
    color: #fff;
    opacity: 0.8;
    font-size: 1.25rem;
}

@media screen and (max-width: 480px ) {
    .pre-paper-form{
        padding-top: 5rem;
    }
    .pre-paper-form h1{
        margin-bottom: 1.5rem;
    }
}
