body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.brandsPartnerships {
    margin-bottom: 50px;
}

.brandsPartnerships .partnershipsTitle {
    height: 300px;
    background-image: url("../../../public/assets/img/home/Partnerships/Frame.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

@media screen and (max-width: 480px) {
    .brandsPartnerships {
        margin-bottom: 0;
    }
    .brandsPartnerships .partnershipsTitle{
        margin-top: 40px;
        margin-bottom: 0px;
    }
}

.brandsPartnerships h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 44px;
    line-height: 130%;
    text-align: center;
    color: #000000;
}

.partnershipsCards {
    margin-bottom: 30px;
}

.cardAnheuserBusch img {
    margin-left: 335px;
}

.cardMarriott img {
    margin-left: 262px;
}

.cardCiroc img {
    margin-left: 160px;
}

.cardLogoGreen img {
    margin-left: -155px;
}

.cardAppcore img {
    margin-left: 200px;
}

.cardHennessyVSOP img {
    margin-left: 150px;
}

.cardPelicargo img {
    margin-left: 25px;
}

.cardMoet img {
    margin-left: -8px;
}

.cardBalanceBunny img {
    margin-left: -55px;
}

@media only screen and (max-width: 350px) {
    .brandsPartnerships .row {
        width: 100vw;
    }

    .partnershipsCards .col-12 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .brandsPartnerships h2 {
        font-size: 18px;
        line-height: 130%;
    }

    .cardAnheuserBusch img {
        margin-left: 0px;
        height: 72px;
        margin-bottom: 45px;
    }
    
    .cardMarriott img {
        height: 72px;
        margin-bottom: 45px;
        margin-left: 0;
    }
    
    .cardCiroc img {
        margin-left: 0px;
        height: 68px;
        margin-bottom: 45px;
    }

    .cardRumor img {
        margin-left: 0px;
        height: 34px;
        margin-bottom: 45px;
    }
    
    .cardLogoGreen img {
        margin-left: 0px;
        height: 117px;
    }
    
    .cardAppcore img {
        margin-left: 0px;
        height: 35px;
        margin-bottom: 45px;
    }
    
    .cardHennessyVSOP img {
        margin-left: 0px;
        height: 53px;
        margin-bottom: 45px;
    }
    
    .cardPelicargo img {
        margin-left: 0px;
        height: 19px;
        margin-bottom: 45px;
    }
    
    .cardMoet img {
        height: 65px;
        margin-bottom: 45px;
        margin-left: 0px;
    }
    
    .cardBalanceBunny img {
        margin-left: 0px;
        height: 31px;
        margin-bottom: 45px;
    }
}

@media (min-width: 351px) and (max-width: 576px) {

    .brandsPartnerships .row {
        width: 100vw;
    }

    .partnershipsCards .col-12 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .brandsPartnerships h2 {
        font-size: 18px;
        line-height: 130%;
    }

    .cardAnheuserBusch img {
        margin-left: 0px;
        height: 100px;
        margin-bottom: 45px;
    }
    
    .cardMarriott img {
        height: 100px;
        margin-bottom: 45px;
        margin-left: 0;
    }
    
    .cardCiroc img {
        margin-left: 0px;
        height: 100px;
        margin-bottom: 45px;
    }

    .cardRumor img {
        margin-left: 0px;
        height: 55px;
        margin-bottom: 45px;
    }
    
    .cardLogoGreen img {
        margin-left: 0px;
        height: 130px;
    }
    
    .cardAppcore img {
        margin-left: 0px;
        height: 50px;
        margin-bottom: 45px;
    }
    
    .cardHennessyVSOP img {
        margin-left: 0px;
        height: 70px;
        margin-bottom: 45px;
    }
    
    .cardPelicargo img {
        margin-left: 0px;
        height: 25px;
        margin-bottom: 45px;
    }
    
    .cardMoet img {
        height: 90px;
        margin-bottom: 45px;
        margin-left: 0px;
    }
    
    .cardBalanceBunny img {
        margin-left: 0px;
        height: 45px;
        margin-bottom: 45px;
    }
}

@media (min-width: 577px) and (max-width: 992px) {

    .brandsPartnerships .row {
        width: 100vw;
    }

    .partnershipsCards .col-12 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .brandsPartnerships h2 {
        font-size: 26px;
        line-height: 130%;
    }

    .cardAnheuserBusch img {
        margin-left: 0px;
        height: 100px;
        margin-bottom: 45px;
    }
    
    .cardMarriott img {
        height: 100px;
        margin-bottom: 45px;
        margin-left: 0;
    }
    
    .cardCiroc img {
        margin-left: 0px;
        height: 100px;
        margin-bottom: 45px;
    }

    .cardRumor img {
        margin-left: 0px;
        height: 55px;
        margin-bottom: 45px;
    }
    
    .cardLogoGreen img {
        margin-left: 0px;
        height: 130px;
    }
    
    .cardAppcore img {
        margin-left: 0px;
        height: 50px;
        margin-bottom: 45px;
    }
    
    .cardHennessyVSOP img {
        margin-left: 0px;
        height: 70px;
        margin-bottom: 45px;
    }
    
    .cardPelicargo img {
        margin-left: 0px;
        height: 25px;
        margin-bottom: 45px;
    }
    
    .cardMoet img {
        height: 90px;
        margin-bottom: 45px;
        margin-left: 0px;
    }
    
    .cardBalanceBunny img {
        margin-left: 0px;
        height: 45px;
        margin-bottom: 45px;
    }
}

@media (min-width: 993px) and (max-width: 1350px) {
    .brandsPartnerships h2 {
        font-size: 32px;
        line-height: 130%;
    }
    .cardAnheuserBusch img {
        margin-left: 25px;
        height: 60px;
    }
    
    .cardMarriott img {
        margin-left: 55px;
        height: 60px;
    }
    
    .cardCiroc img {
        margin-left: 75px;
        height: 60px;
    }

    .cardRumor img {
        margin-left: 40px;
    }
    
    .cardLogoGreen img {
        margin-left: 20px;
        height: 100px;
    }
    
    .cardAppcore img {
        margin-left: -63px;
        height: 30px;
    }
    
    .cardHennessyVSOP img {
        margin-left: -40px;
        height: 48px;
    }
    
    .cardPelicargo img {
        margin-left: -19px;
        height: 20px;
    }
    
    .cardMoet img {
        margin-left: 41px;
        height: 50px;
    }
    
    .cardBalanceBunny img {
        margin-left: 90px;
        height: 22px;
    }
}

@media (min-width: 1351px) and (max-width: 1850px) {
    .brandsPartnerships h2 {
        font-size: 44px;
        line-height: 130%;
    }

    .cardAnheuserBusch img {
        margin-left: 160px;
    }
    
    .cardMarriott img {
        margin-left: 143px;
    }
    
    .cardCiroc img {
        margin-left: 110px;
    }

    .cardRumor img {
        margin-left: 40px;
    }
    
    .cardLogoGreen img {
        margin-left: -20px;
    }
    
    .cardAppcore img {
        margin-left: 40px;
    }
    
    .cardHennessyVSOP img {
        margin-left: 52px;
    }
    
    .cardPelicargo img {
        margin-left: 30px;
    }
    
    .cardMoet img {
        margin-left: 40px;
    }
    
    .cardBalanceBunny img {
        margin-left: 75px;
    }
}

.brandsPartnerships img{
    max-width: 100%;
    height: auto;
}

.brandsPartnerships .partnershipsCards > div {
    text-align: center;
}


.brand-logos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.brand-logos > div{
    width: 20%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

@media screen and (max-width: 1024px) {
    .brand-logos > div{
        width: 33%;
    }
}

@media screen and (max-width: 480px) {
    .brand-logos > div{
        width: 50%;
    }
}

.brand-logos img{
    height: 60px;
    max-width: 100%;
    width: auto;
    object-fit: contain;
}