body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.brandsPartnerships {
    height: 100vh;
}

.brandsPartnerships .partnershipsTitle {
    height: 300px;
    background-image: url("../../../public/assets/img/home/Partnerships/Frame.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.brandsPartnerships h2 {
    position: absolute;
    height: 114px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 44px;
    line-height: 130%;
    text-align: center;
    color: #000000;
    padding: 0 0px;
  }

   .cardAppcore img, .cardHennessyVSOP img, .cardPelicargo img {
        width: 147px;
    }

    .cardAppcore img, .cardPelicargo img {
        margin-left: 20px;
    }

@media only screen and (max-width: 350px) {
    .brandsPartnerships {
        margin-bottom: 0px;
        height: 75vh;
    }

    .brandsPartnerships .partnershipsTitle {
        margin-top: 16px;
    }

    .brandsPartnershipsRow {
        padding-left: 32px;
    }

    .brandsPartnerships .col-12 h2 {
        font-size: 22px !important;
        width: 90%;
        padding: 0;
    }

    .brandsPartnerships .partnershipsImages {
        padding: 0 0px !important;
    }

    .brandsPartnerships .partnershipsImages .partnershipsImage img {
        width: 100px;
    }

    .cardAnheuserBusch,
    .cardMarriott,
    .cardCiroc,
    .cardRumor,
    .cardLogoGreen {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    .cardAppcore,
    .cardHennessyVSOP,
    .cardPelicargo,
    .cardMoet,
    .cardBalanceBunny {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }
}

@media (min-width: 351px) and (max-width: 576px) {
    .brandsPartnerships {
        height: 1545px !important;
        padding-bottom: 0px;
        padding-left: 32px;
        margin-bottom: 0px;
    }

    .brandsPartnerships .partnershipsTitle {
        height: 386px;
        margin-top: 80px;
    }

    .brandsPartnerships .partnershipsTitle h2 {
        position: absolute;
        height: 114px;
        font-size: 28px !important;
        padding-left: 8px;
        padding-right: 8px;
    }

    .brandsPartnerships .partnershipsImages {
        padding-left: 32px !important;
    }

    .cardAnheuserBusch,
    .cardMarriott,
    .cardCiroc,
    .cardRumor,
    .cardLogoGreen {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    .cardAppcore,
    .cardHennessyVSOP,
    .cardPelicargo,
    .cardMoet,
    .cardBalanceBunny {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }
}

@media (min-width: 577px) and (max-width: 992px) {
    .brandsPartnerships {
        height: 110vh;
        padding: 80px 32px 80px 0px;
        margin-bottom: 0px;
    }

    .brandsPartnerships .partnershipsTitle {
        margin-top: 20px;
    }

    .brandsPartnerships .col-12 h2 {
        font-size: 26px;
        text-align: center;
        padding: 0 32px;
    }

    .brandsPartnerships .partnershipsImages {
        padding-left: 32px;
    }

    .brandsPartnerships .partnershipsImages .col-12 {
        padding-bottom: 64px;
        display: flex;
        align-items: center;
    }

    .cardHennessyVSOP img {
        margin-left: 25px;
    }

    .cardAnheuserBusch img {
        margin-left: 20px;
    }

    .cardMarriott img {
        margin-left: 50px;
    }

    .cardCiroc img {
        margin-left: 80px;
    }

    .cardRumor img {
        margin-left: 190px;
        margin-top: 68px;
        margin-bottom: 70px;
    }

    .cardLogoGreen img {
        margin-left: 85px;
        margin-top: 41px;
        margin-bottom: 35px;
        height: 98px;
    }

    .cardMoet img {
        width: 195px;
        margin-left: 120px;
        margin-top: 35px;
        margin-bottom: 34px;
    }

    .cardBalanceBunny img {
        width: 185px;
        margin-left: 20px;
    }
}

@media (min-width: 993px) {
    .cardAnheuserBusch img {
        margin-left: 20px;
    }

    .cardMarriott img {
        margin-left: 50px;
    }

    .cardCiroc img {
        margin-left: 80px;
    }

    .cardRumor img {
        margin-left: 45px;
    }

    .cardAppcore img {
        margin-left: -50px;
    }

    .cardMoet img {
        margin-left: -25px;
    }

    .cardBalanceBunny img {
        margin-left: 40px;
    }

    .cardMoet {
        margin-left: 70px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .partnershipsTitleOne {
        height: 550px;
        margin-bottom: 150px;
        background-image: url("../../../public/assets/img/home/Partnerships/Frame.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .brandsPartnerships .partnershipsTitle {
        height: 150px;
        background-image: url("../../../public/assets/img/home/Partnerships/Frame.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .brandsPartnerships h2 {
        position: absolute;
        height: 114px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 300;
        font-size: 44px;
        line-height: 130%;
        text-align: center;
        color: #000000;
        padding: 0 0px;
    }

    .brandsPartnerships {
        height: 800px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .brandsPartnerships {
        height: 85vh;
    }

    .brandsPartnerships .partnershipsTitle {
        height: 386px;
        background-image: url("../../../public/assets/img/home/Partnerships/Frame.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
    }

    .brandsPartnerships .row {
        max-width: 100%;
    }
}
