.carouselHome {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carouselHome .controllerDescription {
    width: 102%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
}

.controllerDescription .carouselControls {
    display: flex;
}

.controllerDescription .carouselDescription {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 0 10px;
}

.carouselDescription h6 {
    font-family: 'Antonio';
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #000000;
}

.carouselControls .buttonPrev,
.carouselControls .buttonNext {
    cursor: pointer;
}

.carouselControls .buttonPrev:hover,
.carouselControls .buttonNext:hover {
    opacity: .6;
}

.carouselHome .carousel {
    width: 100%;
    height: 600px;
}

.carousel .carouselContent {
    width: 100%;
    height: 650px;
}

.slider__handle {
    background-image: url("../../../public//assets/img/home/carousel/Vector.webp");
    background-color: transparent;
    background-position: right;
    background-size: cover;
    height: 630px;
    width: 270px;
    left: 1050%;
    top: 40%;
}

.slider__container  img{
    height: 480px;
}

.slider__handle svg {
    display: none;
}

.controllerDrag h6 {
    font-family: 'Antonio';
    font-style: Bold;
    font-size: 16px;
    line-height: 21px;
    line-height: 130%;
    margin-top: -70px;
}

@media only screen and (max-width: 350px) {
    .carouselHome {
        width: 100%;
    }

    .carouselHome .carousel {
        width: 230px;
        height: 190px;
    }

   .carouselContent {
        width: 300px;
        height: 100px;
    }

    .carouselHome .carouselControls {
        display: flex;
    }
    .carouselHome .carouselDescription {
        margin-top: 5px;
        padding: 0px 5px;
    }

    .carouselDescription h6 {
        font-size: 10px;
    }

    .slider__handle {
        height: 190px;
        width: 80px;
        left:360%;
        top: 37%;
        margin-top: -150px;
    }

    .slider__container  img{
        width: 100%;
        height: 150px;
    }

    .controllerDrag h6 {
        font-size: 10px;
        margin-top: -20px;
    }
}


@media (min-width: 351px) and (max-width: 576px) {
    .carouselHome {
        width: 100%;
    }

    .carouselHome .carousel {
        width: 300px;
        height: 210px;
    }

   .carouselContent {
        width: 300px;
        height: 180px;
    }

    .carouselHome .controllerDescription {
        width: 300px;
    }

    .controllerDescription .carouselControls {
        display: flex;
        margin-left: -5px;
    }

    .controllerDescription .carouselDescription {
        margin-top: 10px;
        padding: 0;
    }
    
    .carouselDescription h6 {
        font-size: 12px;
    }

    .slider__handle {
        height: 240px;
        width: 100px;
        left: 950%;
        margin-top: -140px;
        top: 38%;
    }

    .slider__container  img{
        width: 100%;
        height: 180px;
    }

    .slider__container .img-comp-overlay img{
        width: 70%;
        height: 45px;
    }

    .controllerDrag h6 {
        font-size: 10px;
        margin-top: 0px;
    }
}

@media (min-width: 576px) and (max-width: 992px) {
    .carouselHome .carousel {
        width: 600px;
        height: 450px;
    }
    
    .carousel .carouselContent {
        width: 100%;
        height: 450px;
    }

    .carouselHome .controllerDescription {
        min-width: 600px;
        width: 100%;
    }

    .controllerDescription .carouselControls {
        display: flex;
    }

    .controllerDescription .carouselDescription {
        margin-top: 5px;
    }

    .slider__handle {
        height: 480px;
        width: 200px;
        left: 955%;
        top: 45%;
    }

    .slider__container  img{
        width: 100%;
        height: 400px;
    }
 
    .slider__container .img-comp-overlay img{
        width: 50%;
        height: 185px;
    }

    .controllerDrag h6 {
        margin-top: 0px;
    }
 }