.carouselPortfolio {
    padding-left:auto;
}

.carouselPortfolio .carouselSlide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carouselPortfolio img {
    padding: 10px;
    border-radius: 15px;
}

.slideNone {
    opacity: 0;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
}

.controlsPortfolio {
    display: flex;
    justify-content: start;
    align-items: flex-end;
    width: 10%;
    height: 100px;
    margin-top: -30px;
    cursor: pointer;
}

.controlsPortfolio .buttonNext {
    margin-left: 30px;
}

.controlsPortfolio .buttonPrev {
    margin-left: 0;
}

.controlsPortfolio .buttonPrev img,
.controlsPortfolio .buttonNext img {
    margin-bottom: 20px;
    height: 30px!important;
    width: auto!important;
}

.controlsPortfolio .buttonPrev:active h1 svg,
.controlsPortfolio .buttonNext:active h1 svg {
    color: #F4BD03;
}

.controlsPortfolio .buttonPrev:hover h1 svg,
.controlsPortfolio .buttonNext:hover h1 svg {
    color: #F4BD03;
}

@media only screen and (max-width: 576px) {
    .buttonNext img, .buttonPrev img {
        height: 30px!important;
        width: 75%!important;
        min-width: 0!important;
    }

    .controlsPortfolio .buttonPrev img,
    .controlsPortfolio .buttonNext img {
        margin-bottom: 15px;
        height: 20px!important;
        width: auto!important;
    }

    .controlsPortfolio .buttonNext {
        margin-left: 5px;
    }
}


@media only screen and (max-width: 992px) {
    .controls {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}


