.carouselText span {
    font-family: 'Antonio';
    font-weight: 400;
    font-size: 64px;
    color: #F4BD03;
}

@media screen and (max-width: 350px ) {
    .carouselText span {
        font-size: 32px;
    }
}

@media (min-width: 351px) and (max-width: 576px ) {
    .carouselText span {
        font-size: 32px;
    }
}

@media (min-width: 577px) and (max-width: 992px ) {
    .carouselText span {
        font-size: 32px;
    }
}
