.carouselPortfolio {
    padding-left:auto;
}

.carouselPortfolio .carouselSlide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carouselPortfolio img {
    padding: 10px;
    border-radius: 15px;
}

.slideNone {
    opacity: 0;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
}

.controlsPortfolio {
    display: flex;
    justify-content: start;
    align-items: flex-end;
    width: 10%;
    height: 100px;
    margin-top: -30px;
}

.controlsPortfolio .buttonNext {
    margin-left: 5px;
}

.controlsPortfolio .buttonPrev {
    margin-left: 0;
}

.controlsPortfolio .buttonPrev h1 svg,
.controlsPortfolio .buttonNext h1 svg {
    color: #fff;
}

.controlsPortfolio .buttonPrev:active h1 svg,
.controlsPortfolio .buttonNext:active h1 svg {
    color: #F4BD03;
}

@media only screen and (max-width: 992px) {
    .controls {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}


