.carouselHome {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carouselHome .carouselControls {
    width: 90%;
    display: flex;
}

.carouselHome .carouselDescription {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.carouselDescription h6 {
    font-family: 'Antonio';
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #000000;
}

.carouselControls .buttonPrev,
.carouselControls .buttonNext {
    cursor: pointer;
}

.carouselControls .buttonPrev:hover,
.carouselControls .buttonNext:hover {
    opacity: .6;
}

.carouselHome .carousel {
    width: 100%;
    height: 500px;
}

.carousel .carouselContent {
    width: 100%;
    height: 450px;
}

.slider__handle {
    background-image: url("../../../public//assets/img/home/carousel/Vector.webp");
    background-color: transparent;
    background-position: right;
    background-size: cover;
    height: 600px;
    width: 270px;
    left: 1050%;
}

.slider__handle svg {
    display: none;
}


@media only screen and (max-width: 350px) {
    .carouselHome .carousel {
        width: 230px;
        height: 190px;
    }

   .carouselContent {
        width: 300px;
        height: 100px;
    }

    .carouselHome .carouselControls {
        width: 150%;
        display: flex;
    }
    .carouselHome .carouselDescription {
        width: 150%;
        margin-top: 5px;
    }

    .carouselDescription h6 {
        font-size: 12px;
    }

    .slider__handle {
        height: 190px;
        width: 80px;
        left:360%;
        margin-top: -150px;
    }

    .slider__container  img{
        width: 100%;
        height: 150px;
    }
}


@media (min-width: 351px) and (max-width: 576px) {
    .carouselHome .carousel {
        width: 300px;
        height: 210px;
    }

   .carouselContent {
        width: 300px;
        height: 180px;
    }

    .carouselHome .carouselControls {
        width: 180%;
        display: flex;
    }

    .carouselHome .carouselDescription {
        width: 180%;
        margin-top: 10px;
    }
    

    .slider__handle {
        height: 240px;
        width: 100px;
        left: 950%;
        margin-top: -140px;
    }

    .slider__container .img-comp-overlay img{
        width: 70%;
        height: 45px;
    }
}

@media (min-width: 576px) and (max-width: 992px) {

    .carouselHome .carousel {
        width: 600px;
        height: 450px;
    }
    
    .carousel .carouselContent {
        width: 100%;
        height: 450px;
    }

    .carouselHome .carouselControls {
        width: 135%;
        display: flex;
    }

    .carouselHome .carouselDescription {
        width: 130%;
        margin-top: 5px;
    }

     .slider__handle {
         height: 460px;
         width: 200px;
         left: 955%;
         top: 35%;
     }
 
     .slider__container .img-comp-overlay img{
         width: 50%;
         height: 185px;
     }
 }