.eyeSection {
  padding-top: 500px;
  background: #000000;
  padding-bottom: 450px;
  position: relative;
  height: auto;
  z-index: 0;
}

.title-eye {
  font-family: 'Antonio';
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 120px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: #FFFFFF;
  z-index: 5;
}

.box-text {
  margin-bottom: 200px;
}

.description-text-eye {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #ACACAC;
}

.container-text::-webkit-scrollbar {
  width: 1px;
}

.container-eye {
  position: sticky;
  top: 0;
  min-width: 50%;
  height: 40vh;
  max-width: 500px;
}

.img-eye {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  z-index: 0;
  max-width: 400px;
}

@media screen and (max-width: 350px) {
  .img-eye {
    display: none;
  }

  .box-text {
    margin-bottom: 100px;
  }

  .container-eye {
    display: none;
  }

  .eyeSection {
    padding-top: 130px;
    padding-bottom: 90px;
  }

  .title-eye {
    font-size: 40px;
    line-height: 50px;
  }

  .description-text-eye {
    font-size: 12px;
    width: 90%;
    line-height: 15px;
  }
}

@media (min-width: 351px) and (max-width: 576px) {
  .img-eye {
    display: none;
  }

  .box-text {
    margin-bottom: 100px;
  }

  .container-eye {
    display: none;
  }

  .eyeSection {
    padding-top: 200px;
    padding-bottom: 80px;
  }

  .title-eye {
    font-size: 50px !important;
    line-height: 50px !important;
  }

  .description-text-eye {
    font-size: 14px;
    width: 90%;
    line-height: 20px;
  }
}

@media (min-width: 577px) and (max-width: 992px) {
  .box-text {
    margin-bottom: 100px;
  }

  .img-eye {
    width: 250px;
    left: 65%;
  }

  .box-text,
  .eyeCatching {
    width: 450px;
  }

  .eyeSection {
    padding-top: 200px;
    padding-bottom: 50px;
  }

  .title-eye {
    font-size: 75px;
    line-height: 100px;
  }

  .description-text-eye {
    width: 70%;
  }
}