@import url('https://fonts.googleapis.com/css2?family=Antonio&family=Poppins:wght@400;500&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow-x: 0;
}

.footer {
    width: 100%;
    background-color: #000;
    z-index: 1;
    color: #fff;
    position: relative;
    padding-top: 60px;
    padding-bottom: 100px;
}

@media screen and (max-width: 768px) {
    .footer{
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 480px) {
    .footer .footerRow{
        max-width: 100%;
    }
    .footer .footerCopy{
        align-items: center !important;
    }
    .footer .footerLinks{
        align-items: center !important;
    }
    .socialMedia {
        text-align: center;
    }
    .backToTop{
        display: flex;
        justify-content: center;
    }
    .footer .footerMedia .backToTop p{
        margin-right: 20px !important;
    }
}

.footer .footerCopy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.footer .footerCopy button {
    background-color: rgba(244, 189, 3, 1.0);
    padding: 18px 36px;
    width: 230px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    border: none;
    border-radius: 8px;
}

.footer .footerCopy button a {
    text-decoration: none;
    color: #000;
}

.footer .footerCopy p {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
}

.footer .footerLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer .footerLinks a {
    font-family: 'Antonio', sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none!important;
    margin-bottom: 16px;
}

.footer .footerMedia {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.footer .footerMedia .socialMedia {
    margin-left: 0px;
    display: flex;
    gap: 30px;
}

.footer .footerMedia .socialMedia a{
    color: #fff;
    text-decoration: none;
    font-family: 'Antonio', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
}

.footer .footerMedia .backToTop {
    display: flex;
    align-items: flex-end;
}

.footer .footerMedia .backToTop p {
    margin-right: 32px;
    margin-left: 128px;
}

@media screen and (max-width: 350px) {
    
    .footer {
        height: auto;
        padding-bottom: 40px;
        padding-left: 0!important;
    }

    .footerRow {
        max-width: 95%;
    }
    .footer .footerCopy {
        align-items: flex-start;
    }
    .footer .footerCopy p {
        padding-left: 8px;
    }
    .footer .footerCopy button {
        margin-left: 8px;
    }
    .footer .footerLinks {
        margin-top: 20px;
    }

    .footer .footerMedia .socialMedia {
        margin-left: 0px;
        margin-top: 30px;
    }

    .footer .footerMedia .socialMedia img {
        margin-right: 20px;
    }

    .footer .footerMedia .backToTop {
        margin-left: 10px;
        margin-top: 30px;
    }

    .footer .footerMedia .backToTop p {
        margin-right: 32px;
        margin-left: 0;
    }

    .footer .footerCopy button {
        padding: 10px 20px;
    }
}

@media (min-width: 351px) and (max-width: 576px ){
    .footer {
        padding-bottom: 40px;
        padding-left: 16px!important;
    }

    .footerRow {
        max-width: 95%;
    }
    .footer .footerCopy {
        align-items: flex-start;
    }
    .footer .footerCopy p {
    }
    .footer .footerCopy button {
        margin-left: 0px;
    }
    .footer .footerLinks {
        margin-top: 20px;
    }

    .footer .footerMedia .socialMedia {
        margin-left: 0px;
        margin-top: 30px;
    }

    .footer .footerMedia .backToTop {
        margin-left: 10px;
        margin-top: 30px;
    }

    .footer .footerMedia .backToTop p {
        margin-right: 64px;
        margin-left: 0;
    }

    .footer .footerCopy button {
        padding: 10px 20px;
    }
}

@media (min-width: 577px) and (max-width: 992px ) { 

    .footer .footerMedia {
        height: 172px;
        margin-top: 12px;
    }

    .footer .footerMedia .socialMedia {
        margin-left: 0;
        width: 210px;
    }
   
    .footer .footerMedia .socialMedia img {
        margin-right: 20px;
    }

    .footer .footerMedia .backToTop p {
        margin-left: 8px;
    }
}

.footer .lead{
    font-size: 15px !important;
    font-weight: 300 !important;
    opacity: 0.8;
}

@media screen and (max-width: 1200px){
    .newProject{
        margin-bottom: 50px;
    }

    .backToTop{
        align-items: center;
    }

    .backToTop p{
        margin-bottom: 0;
    }
}


@media screen and (max-width: 768px) {
    .backToTop{
        margin-top: 30px;
    }
    .backToTop img{
        height: 40px;
    }
}

@media screen and (max-width: 480px) {
    .footer .lead{
        text-align: center;
    }

    .backToTop img{
        margin-left: 15px;
    }
}

