@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;800&display=swap');

.form-container {
  position: relative;
  margin-top: 200px;
  margin-left: -160px;
  z-index: 2;
}

.form-box {
  width: 1156px;
  height: 480px;
  background: #000000;
  border-radius: 16px;
  margin-left: 300px;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
}

.form-left-side {
  margin-left: 50px;
  margin-top: 80px;
}

.form-left-side h1 {
  width: 226px;
  height: 112px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 56px;
  letter-spacing: -0.04em;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.form-left-side h4 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #9B9B9B;
  margin-bottom: 60px;
}

.contact-information {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #FFFFFF;
}

.contact-information p {
  margin-bottom: 0;
}

.contact-information img {
  margin-right: 10px;
}

.form-right-side {
  margin-left: 190px;
  margin-top: 80px;
}

.form-right-side label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}

.form-inputs {
  width: 566px;
  height: 250;
}

input[type=text]{outline:none}

.form-inputs h4 {
  font-size: 12px;
}

.form-inputs input {
  background-color: #000000;
  border: none;
  border-bottom: 2px solid #9B9B9B !important;
  color: #FFFFFF;
}

.name-role {
  display: flex;
}

.name-role :first-child {
  margin-right: 25px;
}

.nameField, .roleField {
  display: flex;
  flex-direction: column;
}

.email-message {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.email-message input {
  width: 100%;
}

.email-message {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}

.email-message label:nth-of-type(2) {
  margin-top: 30px;
}

.errorMessage {
  font-size: 12px;
  color: #fff;
}

.name-role .errorMessage:nth-of-type(2) {
  margin-left: 35%;
}

.form-right-side button {
  color: #000000;
  /* display: flex;
  flex-direction: row;
  align-items: center; */
  padding: 16px 48px;
  gap: 10px;
  margin-top: 10px;
  /* position: absolute; */
  width: 208px;
  height: 56px;
  left: 513px;
  /* top: 357px; */
  font-size: 16px;
  background: #FFFFFF;
  border-radius: 8px;
  border: none;
}

@media only screen and (max-width: 350px) {
  .form-container {
    margin-left: -200px;
  }
  .form-box {
    width: 100vw;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    margin-left: 200px;
  }

  .form-left-side {
    margin-left: 10px;
    margin-bottom: 20px;
  }

  .form-left-side h1 {
    height: auto;
    width: 100%;
    font-size: 24px;
  }

  .form-left-side h4 {
    font-size: 16px;
  }

  .form-right-side {
    margin: 0;
    padding: 10px;
  }

  .form-inputs {
    width: 100%;
  }

  .form-inputs input {
    width: 100%;
  }

  .name-role {
    flex-direction: column;
  }

  .name-role .nameField {
    margin-right: 0;
  }

  .name-role :first-child {
    margin-right: 0px;
  }

  .nameField {
    margin-bottom: 10px;
  }

}


@media (min-width: 351px) and (max-width: 576px) {
  .form-box {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    margin-left: 160px;
    margin-bottom: -650px;
  }

  .form-left-side {
    margin-left: 20px;
  }

  .form-left-side h1 {
    width: 100%;
    font-size: 40px;
  }

  .form-right-side  {
    margin-left: 0;
    padding: 15px;
  }

  .form-inputs {
    max-width: 100%;
  }

  .form-inputs input {
    width: 100%;
    padding: 10px;
  }

  .form-inputs h4 {
    font-size: 16px;
    margin-top: 15px!important;
  }

  .name-role {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .name-role :first-child {
    margin: 0;
  }

  .email-message {
    margin-top: 0px;
  }

  .form-right-side button {
    margin-left: 45px;
  }
}

@media (min-width: 577px) and (max-width: 992px) {
  .form-container {
    position: relative;
    margin-top: 250px;
    margin-left: -160px;
    z-index: 2;
  }

  .form-box {
    width: 90%;
    height: auto;
    max-width: 95%;
    margin-top: -80px;
    margin-left: 210px;
    padding: 10px;
  }

  .form-left-side {
    margin-left: 20px;
  }

  .form-left-side h1 {
    width: 100%;
    font-size: 30px;
  }

  .form-right-side  {
    width: 60%;
    margin-left: 10px;
    padding: 15px;
  }

  .form-inputs {
    max-width: 100%;
  }

  .form-inputs input {
    width: 80%;
    padding: 10px;
  }

  .form-inputs h4 {
    font-size: 16px;
    margin-top: 15px!important;
  }

  .name-role {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .name-role :first-child {
    margin: 0;
  }

  .email-message {
    margin-top: 0px;
  }

  .form-right-side button {
    margin-left: 45px;
  }
}