@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&display=swap');

.containerGetInTouch,
.containerGetInTouchPort {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: -300px;
}

.containerGetInTouch .row,
.containerGetInTouchPort .row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerGetInTouch {
  padding-top: 70px;
}

.containerGetInTouchPort {
  padding-top: 100px;
  background-color: rgb(40, 44, 52);
}

.containerGetInTouch .getInContactSomewhereText,
.containerGetInTouchPort .getInContactSomewhereText {
  display: flex;
  justify-content: center;
  align-items: center;
}

.getInContactSomewhereText h1 {
  position: absolute;
  margin-top: 230px;
  margin-left: 230px;
  font-family: 'Antonio', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2em;
  line-height: 134px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
}

.divIcon img {
  position: absolute;
  margin-left: -85px;
  margin-top: 130px;
}

.getInContactSomewhereText .sunsetImg {
  margin-bottom: -45em;
  margin-left: 5em;
}

@media only screen and (max-width: 350px) {
  .containerGetInTouch,
  .containerGetInTouchPort {
    margin-bottom: -250px;
    padding-top: 0;
  }

  .containerGetInTouch .row,
  .containerGetInTouchPort .row {
    max-width: 100%;
  }

  .getInContactSomewhereText .sunsetImg {
    height: 220px;
    width: 100%;
    margin-left: 0px;
    margin-bottom: -450px;
  }

  .divIcon img {
    height: 2em;
    position: absolute;
    margin-left: 50px;
    margin-top: 162px;
  }

  .getInContactSomewhereText h1 {
    margin-top: 354px;
    margin-left: 40px;
    font-size: 16px;
    line-height: 10px;
  }
}

@media (min-width: 351px) and (max-width: 576px) {
  .containerGetInTouch,
  .containerGetInTouchPort {
    margin-bottom: 0;
    padding-top: 0;
  }

  .containerGetInTouch .row,
  .containerGetInTouchPort .row {
    max-width: 100%;
  }

  .containerGetInTouch .getInContactSomewhereText,
  .containerGetInTouchPort .getInContactSomewhereText {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .getInContactSomewhereText .sunsetImg {
    height: 220px;
    width: 100%;
    margin-left: -10px;
    margin-bottom: -450px;
  }

  .divIcon img {
    height: 2em;
    position: absolute;
    margin-left: 115px;
    margin-top: 160px;
  }

  .getInContactSomewhereText h1 {
    margin-top: 349px;
    margin-left: 40px;
    font-size: 12px;
    line-height: 24px;
}
}

@media (min-width: 577px) and (max-width: 992px) {
  .containerGetInTouch .row,
  .containerGetInTouchPort .row {
    width: 100%;
  }

  .containerGetInTouch .getInContactSomewhereText,
  .containerGetInTouchPort .getInContactSomewhereText {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .getInContactSomewhereText .sunsetImg {
    margin-top: 0em;
    margin-left: 4.5em;
    margin-bottom: -25em;
  }

  .divIcon img {
    position: absolute;
    margin-left: -65px;
    margin-top: 80px;
  }

  .getInContactSomewhereText h1 {
    margin-top: 200px;
    margin-left: 130px;
  }
}