@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&display=swap');

.containerGetInTouch,
.containerGetInTouchPort {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: -300px;
}

.containerGetInTouch .row,
.containerGetInTouchPort .row {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerGetInTouch {
  padding-top: 70px;
}

.containerGetInTouchPort {
  padding-top: 100px;
  background-color: rgb(40, 44, 52);
}

.containerGetInTouch .getInContactSomewhereText,
.containerGetInTouchPort .getInContactSomewhereText {
  display: flex;
  justify-content: center;
  align-items: center;
}

.only {
  position: absolute;
  margin-top: 77px;
  margin-left: 74px;
  font-family: 'Antonio', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 134px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: #fff;
}

.getToWork {
  position: absolute;
  margin-top: 153px;
  margin-left: 70px;
  font-family: 'Antonio', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 134px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: #fff;
}

.divIcon img {
  position: absolute;
  margin-left: -50px;
  margin-top: 110px;
}

.getInContactSomewhereText .sunsetImg {
  margin-bottom: -640px;
  margin-left: -6px;
}

@media only screen and (max-width: 350px) {
  .containerGetInTouch,
  .containerGetInTouchPort {
    margin-bottom: -250px;
    padding-top: 0;
  }

  .containerGetInTouch .row,
  .containerGetInTouchPort .row {
    max-width: 100%;
  }

  .getInContactSomewhereText .sunsetImg {
    height: 222px;
    width: 100%;
    margin-left: 0px;
    margin-bottom: -424px;
  }

  .divIcon img {
    height: 30px;
    position: absolute;
    margin-left: 68px;
    margin-top: 150px;
  }

  .only {
    margin-top: 312px;
    margin-left: 48px;
    font-size: 12px;
    line-height: 10px;
  }

  .getToWork {
    margin-top: 345px;
    margin-left: 46px;
    font-size: 12px;
    line-height: 10px;
  }
}

@media (min-width: 351px) and (max-width: 576px) {
  .containerGetInTouch,
  .containerGetInTouchPort {
    margin-bottom: 0;
    padding-top: 0;
  }

  .containerGetInTouch .row,
  .containerGetInTouchPort .row {
    max-width: 100%;
  }

  .containerGetInTouch .getInContactSomewhereText,
  .containerGetInTouchPort .getInContactSomewhereText {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .getInContactSomewhereText .sunsetImg {
    height: 322px;
    width: 100%;
    margin-left: 0px;
    margin-bottom: -450px;
  }

  .divIcon img {
    height: 30px;
    margin-left: 130px;
    margin-top: 132px;
}

  .only {
    margin-top: 274px;
    margin-left: 70px;
    font-size: 16px;
    line-height: 24px;
  }

  .getToWork {
    margin-top: 318px;
    margin-left: 68px;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 577px) and (max-width: 992px) {
  .containerGetInTouch .row,
  .containerGetInTouchPort .row {
    width: 100%;
  }

  .containerGetInTouch .getInContactSomewhereText,
  .containerGetInTouchPort .getInContactSomewhereText {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .getInContactSomewhereText .sunsetImg {
    margin-top: 0px;
    margin-left: -7px;
    margin-bottom: -400px;
  }

  .divIcon img {
    margin-left: -58px;
    margin-top: 80px;
  }

  .only {
    margin-top: 180px;
    margin-left: 95px;
    font-size: 22px;
    line-height: 44px;
  }

  .getToWork {
    margin-top: 235px;
    margin-left: 92px;
    font-size: 22px;
    line-height: 44px;
  }
}
