@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.headerLogo {
    margin-left: 100px;
}

 .header,
.headerBlack {
    position: fixed;
    width: 100vw;
    padding-top: 1.1em;
    padding-bottom: 1.1rem;
    background: linear-gradient(rgba(16, 16, 16, 0.7), rgba(0.0,0.0,0.0,0));
    z-index: 99;
}

.header .headerImage,
.headerBlack .headerImage {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.headerLinks {
    justify-content: right;
    text-align: right;
    display: flex;
    flex-direction: row;
    padding-right: 92px;
    align-items: center;
}
 

.headerLinks a {
    font-family: 'Poppins', sans-serif;
    font-style: Bold;
    font-size: 18px;
    line-height: 27px;
    margin-right: 2em;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.headerBlack .headerLinks a {
    /*color: rgba(110, 96, 96, 0.733);*/
    color: #373737;
}

.headerLinks a:hover {
    color: #F4BD03;
}

.headerLinks button {
    font-family: 'Poppins', sans-serif;
    background-color: #F4BD03;
    padding: 16px 32px;
    border-radius: 8px;
    border: 1px solid rgba(0.0,0.0,0.0, 0.1);
}
.headerLinks button:hover a {
    opacity: .9;
    color: #fff;
}

.wrap {
    display: none;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.showSidebar,
.hiddenSidebar {
    display: none;
    background-color: #F4BD03;
    width: 100vw;
    height: 100vh;
    min-height: 10232.500px;
    position: absolute;
    top: 0;
    margin-top: 0px;
    transition: 0.5 ease all;
    z-index: 99;
}

.showSidebar {
    animation: showsidebar 1s;
    left: 0;
}
@keyframes showsidebar {
    from {left: 100vw;}
    to {left: 0;}
}

.hiddenSidebar{
    position: fixed;
    animation: hiddensidebar 1s;
    left: 100vw;
}
@keyframes hiddensidebar {
    from {left: 0;}
    to {left: 100vw;}
}


@media screen and (max-width: 768px ) {
    .wrap {
        padding-top: 32px;
        width: 20%;
        display: block;
        top: 0;
        right: 0;
        position: absolute;
        z-index: 9999;
    }
    .header, .headerBlack {
        display: none;
    }
    .showSidebar,
    .hiddenSidebar {
        display: block;
        animation: opacitySidebar 2s;
    }

    @keyframes hiddensidebar {
        from {opacity: 0;}
        to {opacity: 1;}
    }
}
@media (min-width:769px ) and (max-width: 1024px ) { 
    .header, .headerBlack {
        height: 96px;
        padding-top: 1.1em;
    }
    
    .headerImage {
        display: flex;
        justify-content: center;
        padding-left: 0;
    }

    .headerImage img {
        margin-left: 200px;
    }

    .headerLinks {
        display: flex;
        flex-direction: row;
        padding-right: 92px;
        align-items: center;
    }
    
    .headerLinks a {
        font-size: 14px;
        line-height: 24px;
    }
    
    .headerLinks button {
        font-size: 14px;
        padding: 12px 21px;
        border-radius: 8px;
        border: none;
    }
}
@media (min-width: 993px) and (max-width: 1200px ) { 

    .header, .headerBlack {
        display: block;
        width: 100%;
    }

    .header, .headerBlack {
        height: 96px;
        padding-top: 1.1em;
    }
    
    .headerImage {
        display: flex;
        justify-content: center;
        padding-left: 0;
    }

    .headerLinks {
        margin-left: 0;
        padding-left: 1em;
        display: flex;
        align-items: center;
    }
    
    .headerLinks a {
        font-size: 14px;
        line-height: 24px;
    }
    
    .headerLinks button {
        font-size: 14px;
        padding: 12px 21px;
        border-radius: 8px;
        border: none;
    }
    .header .headerImage, .headerBlack .headerImage {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
}