.modal {
  width: 100%;
  height: 1000vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, .8);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 160px;
}

.modal .container {
  position: fixed;
  background-color: transparent;
  color: #000;
  width: 100%;
  height: 57%;
  display: flex;
  justify-content: center;
  
}
  
.container .close {
  background-color: transparent;
  color: #fff;
  border: none;
  outline: none;
  box-shadow: none;
  width: 32px;
  height: 32px;
  right: 21%;
  top: 16%;
  cursor: pointer;
  display: flex;
  position: fixed;
  align-items: center;
}
  
.container .content {
  display: flex;
  width: 65%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 350px ) {
  .modal {
    padding: 0;
    padding-top: 160px;
    padding-left: 40px;
  }

  .modal .container {
    height: auto;
    margin-left: -75px;
    margin-top: -30px;
    width: 100%;
    overflow-x: hidden;
  }

  .modal .container {
    width: 100%;
    max-width: 790px;
    height: 50%;
}

  .container .close {
    left: 230px;
  }

  .container .content {
    width: 90%;
  }

  .container .content img {
    height: 150px!important;
  }
}

@media screen and (max-width: 576px ) {
  .modal {
    padding: 0;
    padding-top: 160px;
    padding-left: 0px;
    height: 2000vh;
  }

  .modal .container {
    height: auto;
    margin-left: -40px;
    margin-top: 0px;
    width: 82%;
  }

  .container .close {
    left: 82%!important;
    top: 28%!important;
  }

  .container .content {
    width: 90%;
  }
}

@media screen and (max-width: 992px ) {
  .modal .container {
    width: 100%;
    max-width: 790px;
    height: 50%;
  }

  .container .close {
    left: 71%;
    top: 21%;
  }
}

@media only screen and (min-width: 1450px) {
  .container .close {
    right: 31%;
    top: 14%;
  }
}
