.ourServices {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.ourServices h2 {
  font-family: 'Antonio';
  font-weight: 700;
  font-size: 92px;
  line-height: 130%;
  color: #000000;
}

.ourServices p {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 20px;
  color: #989898;
}

.borderOurServices {
  max-width: 1153px;
  width: 100%;
  background-color: #000000;
  border: 1px solid #000000;
  margin-top: 48px;
  margin-bottom: 48px;
}

.ourServices .tabsOurServices a {
  font-family: 'Antonio';
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  color: #000000!important;
  margin-left: -15px;
  margin-top: 35px;
  margin-bottom: -20px;
  position: relative;
}

.tabsOurServices a::after {
  content : " ";
  width: 0%;
  height: 5px;
  background-color: #F4BD03;
  position: absolute;
  bottom: 0;
  left: 15px;
  transition: 0.5s ease-in-out;
}

.tabsOurServices a.actived::after {
  content : " ";
  width: 60%;
  height: 5px;
  background-color: #F4BD03;
  position: absolute;
  bottom: 0;
  left: 15px;
  transition: 0.5s ease-in-out;
}

.tabsOurServices a:hover:after {
  width: 60%!important;
}

.ourServices .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: transparent;
}

.arrowOurServices {
  font-family: 'Antonio';
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF!important;
  text-decoration: none;
}

.arrowOurServices active {
  color: #FFFFFF!important;
  text-decoration: none;
}

.fundsServices {
  display: flex;
  gap: 80px;
}

.card-body:hover {
  background: linear-gradient(0deg, rgba(244, 189, 3, 0.8), rgba(244, 189, 3, 0.8)), linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  width: 248px;
  height: 224px;
  margin-left: -1px;
  margin-top: -1px;
  border-radius: 12px;
}

.card-body .textHover {
  opacity: 0;
}

.card-body:hover .textHover {
  opacity: 1;
}

.cardNone {
  margin-top: 35px;
  width: 248px;
  height: 224px;
  opacity: 0;
}

.cardIntro {
  margin-top: 35px;
  width: 248px;
  height: 224px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../public/assets/img/ourservices/pagerintro.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
}

.cardIntro p {
  font-family: 'Antonio';
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  margin-top: 130px;
  margin-left: 20px;
  padding-right: 70px;
}

.cardAgency {
  margin-top: 35px;
  width: 248px;
  height: 224px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../public/assets/img/ourservices/agency.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
}

.cardAgency p {
  font-family: 'Antonio';
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  margin-top: 130px;
  margin-left: 20px;
}

.cardBranding {
  margin-top: 35px;
  width: 248px;
  height: 224px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../public/assets/img/ourservices/branding.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
}

.cardBranding p {
  font-family: 'Antonio';
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  margin-top: 130px;
  margin-left: 20px;
}

.cardRedesign {
  margin-top: 35px;
  width: 248px;
  height: 224px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../public/assets/img/ourservices/redesign.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
}

.cardRedesign p {
  font-family: 'Antonio';
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  margin-top: 130px;
  margin-left: 20px;
}

.cardReview {
  margin-top: 35px;
  width: 248px;
  height: 224px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../public/assets/img/ourservices/review.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
}

.cardReview p {
  font-family: 'Antonio';
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  margin-top: 130px;
  margin-left: 20px;
}

.cardMagazine {
  margin-top: 35px;
  width: 248px;
  height: 224px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../public/assets/img/ourservices/magazine.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
}

.cardMagazine p {
  font-family: 'Antonio';
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  margin-top: 130px;
  margin-left: 20px;
}

.cardProgressReport1 {
  margin-top: 35px;
  width: 248px;
  height: 224px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../public/assets/img/ourservices/progressreport1.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
}

.cardProgressReport1 p {
  font-family: 'Antonio';
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  margin-top: 100px;
  margin-left: 20px;
  padding-right: 50px;
}

.cardConference {
  margin-top: 35px;
  width: 248px;
  height: 224px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../public/assets/img/ourservices/conference.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
}

.cardConference p {
  font-family: 'Antonio';
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  margin-top: 130px;
  margin-left: 20px;
}

.cardLegalPresentations {
  margin-top: 35px;
  width: 248px;
  height: 224px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../public/assets/img/ourservices/legalpresentation.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
}

.cardLegalPresentations p {
  font-family: 'Antonio';
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  margin-top: 90px;
  margin-left: 30px;
}

.cardTrialExhibits {
  margin-top: 35px;
  width: 248px;
  height: 224px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../public/assets/img/ourservices/trialexhibits.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
}

.cardTrialExhibits p {
  font-family: 'Antonio';
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  margin-top: 100px;
  margin-left: 30px;
  padding-right: 60px;
}

.cardEventTalks {
  margin-top: 35px;
  width: 248px;
  height: 224px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../public/assets/img/ourservices/eventtalks.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
}

.cardEventTalks p {
  font-family: 'Antonio';
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  margin-top: 100px;
  margin-left: 30px;
  padding-right: 80px;
}

.cardInvestorDeck {
  margin-top: 35px;
  width: 248px;
  height: 224px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../public/assets/img/ourservices/investordeck.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
}

.cardInvestorDeck p {
  font-family: 'Antonio';
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  margin-top: 100px;
  margin-left: 10px;
  padding-right: 70px;
}

.cardStartupPitch {
  margin-top: 35px;
  width: 248px;
  height: 224px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../public/assets/img/ourservices/startuppitch.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
}

.cardStartupPitch p {
  font-family: 'Antonio';
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  margin-top: 90px;
  margin-left: 20px;
  padding-right: 70px;
}

.cardBusinessProposal {
  margin-top: 35px;
  width: 248px;
  height: 224px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../public/assets/img/ourservices/businessproposal.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
}

.cardBusinessProposal p {
  font-family: 'Antonio';
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  margin-top: 100px;
  margin-left: 20px;
  padding-right: 60px;
}

.cardCompanyPresentation {
  margin-top: 35px;
  width: 248px;
  height: 224px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../public/assets/img/ourservices/companypresentation.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
}

.cardCompanyPresentation p {
  font-family: 'Antonio';
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  margin-top: 100px;
  margin-left: 20px;
  padding-right: 20px;
}

.cardProductPresentation {
  margin-top: 35px;
  width: 248px;
  height: 224px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../public/assets/img/ourservices/productspresentation.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
}

.cardProductPresentation p {
  font-family: 'Antonio';
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  margin-top: 100px;
  margin-left: 20px;
  padding-right: 20px;
}

.cardSalesDeck {
  margin-top: 35px;
  width: 248px;
  height: 224px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../public/assets/img/ourservices/salesdeck.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
}

.cardSalesDeck p {
  font-family: 'Antonio';
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  margin-top: 130px;
  margin-left: 20px;
}

.cardServiceDeck {
  margin-top: 35px;
  width: 248px;
  height: 224px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../public/assets/img/ourservices/servicedeck.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
}

.cardServiceDeck p {
  font-family: 'Antonio';
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  margin-top: 130px;
  margin-left: 20px;
}

.cardBigNewsDeck {
  margin-top: 35px;
  width: 248px;
  height: 224px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../public/assets/img/ourservices/bignewsdeck.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
}

.cardBigNewsDeck p {
  font-family: 'Antonio';
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  margin-top: 95px;
  margin-left: 20px;
  padding-right: 60px;
}

.cardBrandedTemplate {
  margin-top: 35px;
  width: 248px;
  height: 224px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../public/assets/img/ourservices/brandedtemplate.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
}

.cardBrandedTemplate p {
  font-family: 'Antonio';
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  margin-top: 95px;
  margin-left: 20px;
  padding-right: 50px;
}

.cardBoardingPresentation {
  margin-top: 35px;
  width: 248px;
  height: 224px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../public/assets/img/ourservices/onboardingpresentation.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
}

.cardBoardingPresentation p {
  font-family: 'Antonio';
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  margin-top: 95px;
  margin-left: 20px;
  padding-right: 20px;
}

.cardPolicyPlaybook {
  margin-top: 35px;
  width: 248px;
  height: 224px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../public/assets/img/ourservices/policydeckandplaybook.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
}

.cardPolicyPlaybook p {
  font-family: 'Antonio';
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  margin-top: 95px;
  margin-left: 20px;
  padding-right: 50px;
}

.cardProgressReport {
  margin-top: 35px;
  width: 248px;
  height: 224px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../public/assets/img/ourservices/progressreport.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
}

.cardProgressReport p {
  font-family: 'Antonio';
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  margin-top: 100px;
  margin-left: 20px;
  padding-right: 50px;
}

.cardTraining {
  margin-top: 35px;
  width: 248px;
  height: 224px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../public/assets/img/ourservices/corporatetraining.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
}

.cardTraining p {
  font-family: 'Antonio';
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  margin-top: 90px;
  margin-left: 10px;
  padding-right: 20px;
}

.cardQuickPresentations {
  margin-top: 35px;
  width: 248px;
  height: 224px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../public/assets/img/ourservices/quickpresentations.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
}

.cardQuickPresentations p {
  font-family: 'Antonio';
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  margin-top: 100px;
  margin-left: 30px;
}

.cardWedding {
  margin-top: 35px;
  width: 248px;
  height: 224px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../public/assets/img/ourservices/wedding.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
}

.cardWedding p {
  font-family: 'Antonio';
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  margin-top: 100px;
  margin-left: 20px;
  padding-right: 50px;
}

.cardBirthday {
  margin-top: 35px;
  width: 248px;
  height: 224px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../public/assets/img/ourservices/birthday.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
}

.cardBirthday p {
  font-family: 'Antonio';
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  margin-top: 100px;
  margin-left: 20px;
  padding-right: 50px;
}
 
@media screen and (max-width: 350px ) {
 .ourServices {
   margin-left: 0px;
 }
 
 .ourServices h2 {
   font-size: 41px;
 }

 .borderOurServices {
   max-width: 800px;
   width: 100%;
 }

 .ourServices p {
   font-size: 16px;
 }

 .ourServices .tabsOurServices a {
   font-size: 20px;
 }

 .fundsServices {
   gap: 0px;
 }
}

@media (min-width: 351px) and (max-width: 576px ) {
 .ourServices h2 {
   font-size: 41px;
 }

 .borderOurServices {
   max-width: 800px;
   width: 100%;
 }

 .ourServices p {
   font-size: 16px;
 }

 .ourServices .tabsOurServices a {
   font-size: 20px;
 }

 .fundsServices {
   gap: 0px;
 }
}
 
@media (min-width: 577px) and (max-width: 992px ) {
 .ourServices h2 {
   font-size: 41px;
 }

 .ourServices p {
   font-size: 16px;
 }

 .ourServices .tabsOurServices a {
   font-size: 20px;
 }

 .fundsServices {
   row-gap: 0px;
   column-gap: 30px;
 }

 .card-body:hover {
   width: 130px;
   height: 130px;
 }

 .cardNone {
   width: 130px;
   height: 130px;
 }

 .cardIntro {
   width: 130px;
   height: 130px;
 }

 .cardAgency {
   width: 130px;
   height: 130px;
 }

 .cardBranding {
   width: 130px;
   height: 130px;
 }

 .cardBranding p {
   width: 130px;
   height: 130px;
 }

 .cardRedesign {
   width: 130px;
   height: 130px;
 }

 .cardReview {
   width: 130px;
   height: 130px;
 }

 .cardMagazine {
   width: 130px;
   height: 130px;
 }

 .cardProgressReport1 {
   width: 130px;
   height: 130px;
 }

 .cardConference {
   width: 130px;
   height: 130px;
 }

 .cardLegalPresentations {
   width: 130px;
   height: 130px;
 }

 .cardTrialExhibits {
   width: 130px;
   height: 130px;
 }

 .cardEventTalks {
   width: 130px;
   height: 130px;
 }

 .cardInvestorDeck {
   width: 130px;
   height: 130px;
 }

 .cardStartupPitch {
   width: 130px;
   height: 130px;
 }

 .cardBusinessProposal {
   width: 130px;
   height: 130px;
 }

 .cardCompanyPresentation {
   width: 130px;
   height: 130px;
 }

 .cardProductPresentation {
   width: 130px;
   height: 130px;
 }
 
 .cardSalesDeck {
   width: 130px;
   height: 130px;
 }

 .cardServiceDeck {
   width: 130px;
   height: 130px;
 }

 .cardBigNewsDeck {
   width: 130px;
   height: 130px;
 }

 .cardBrandedTemplate {
   width: 130px;
   height: 130px;
 }

 .cardBoardingPresentation {
   width: 130px;
   height: 130px;
 }

 .cardPolicyPlaybook {
   width: 130px;
   height: 130px;
 }

 .cardProgressReport {
   width: 130px;
   height: 130px;
 }

 .cardTraining {
   width: 130px;
   height: 130px;
 }

 .cardQuickPresentations {
   width: 130px;
   height: 130px;
 }

 .cardWedding {
   width: 130px;
   height: 130px;
 }
 
 .cardBirthday {
   width: 130px;
   height: 130px;
 }

 .cardIntro p {
   margin-top: 50px;
   padding-right: 0px;
   font-size: 12px;
   margin-left: 0px;
 }

 .cardAgency p {
   margin-top: 50px;
   padding-right: 0px;
   font-size: 12px;
   margin-left: 0px;
 }

 .cardBranding p {
   margin-top: 50px;
   padding-right: 0px;
   font-size: 12px;
   margin-left: 0px;
 }

 .cardRedesign p {
   margin-top: 50px;
   padding-right: 0px;
   font-size: 12px;
   margin-left: 0px;
 }

 .cardReview p {
   margin-top: 50px;
   padding-right: 0px;
   font-size: 12px;
   margin-left: 0px;
 }

 .cardMagazine p {
   margin-top: 50px;
   padding-right: 0px;
   font-size: 12px;
   margin-left: 0px;
 }

 .cardProgressReport1 p {
   margin-top: 50px;
   padding-right: 0px;
   font-size: 12px;
   margin-left: 0px;
 }

 .cardConference p {
   margin-top: 60px;
   padding-right: 0px;
   font-size: 12px;
   margin-left: 0px;
 }

 .cardLegalPresentations p {
   margin-top: 30px;
   padding-right: 0px;
   font-size: 12px;
   margin-left: 0px;
 }

 .cardTrialExhibits p {
   margin-top: 50px;
   padding-right: 0px;
   font-size: 12px;
   margin-left: 0px;
 }

 .cardEventTalks p {
   margin-top: 50px;
   padding-right: 0px;
   font-size: 12px;
   margin-left: 0px;
 }

 .cardInvestorDeck p {
   margin-top: 50px;
   padding-right: 0px;
   font-size: 12px;
   margin-left: 0px;
 }

 .cardStartupPitch p {
   margin-top: 50px;
   padding-right: 0px;
   font-size: 12px;
   margin-left: 0px;
 }

 .cardBusinessProposal p {
   margin-top: 50px;
   padding-right: 0px;
   font-size: 12px;
   margin-left: 0px;
 }

 .cardCompanyPresentation p {
   margin-top: 50px;
   padding-right: 0px;
   font-size: 12px;
   margin-left: 0px;
 }

 .cardProductPresentation p {
   margin-top: 50px;
   padding-right: 0px;
   font-size: 12px;
   margin-left: 0px;
 }
 
 .cardSalesDeck p {
   margin-top: 50px;
   padding-right: 0px;
   font-size: 12px;
   margin-left: 0px;
 }

 .cardServiceDeck p {
   margin-top: 50px;
   padding-right: 0px;
   font-size: 12px;
   margin-left: 0px;
 }

 .cardBigNewsDeck p {
   margin-top: 50px;
   padding-right: 0px;
   font-size: 12px;
   margin-left: 0px;
 }

 .cardBrandedTemplate p {
   margin-top: 50px;
   padding-right: 0px;
   font-size: 12px;
   margin-left: 0px;
 }

 .cardBoardingPresentation p {
   margin-top: 50px;
   padding-right: 0px;
   font-size: 12px;
   margin-left: 0px;
 }

 .cardPolicyPlaybook p {
   margin-top: 50px;
   padding-right: 0px;
   font-size: 12px;
   margin-left: 0px;
 }

 .cardProgressReport p {
   margin-top: 50px;
   padding-right: 0px;
   font-size: 12px;
   margin-left: 0px;
 }

 .cardTraining p {
   margin-top: 50px;
   padding-right: 0px;
   font-size: 12px;
   margin-left: 0px;
 }

 .cardQuickPresentations p {
   margin-top: 50px;
   padding-right: 0px;
   font-size: 12px;
   margin-left: 0px;
 }

 .cardWedding p {
   margin-top: 50px;
   padding-right: 0px;
   font-size: 12px;
   margin-left: 0px;
 }
 
 .cardBirthday p {
   margin-top: 50px;
   padding-right: 0px;
   font-size: 12px;
   margin-left: 0px;
 }
}