.presentationServices {
    margin-bottom: 144px;
}

.presentationServices a {
    font-family: 'Poppins';
    font-size: 26px;
    text-transform: uppercase;
    color: #000000!important;
    position: relative;
}

.presentationServices a::after {
    content : " ";
    width: 0%;
    height: 5px;
    background-color: #F4BD03;
    position: absolute;
    bottom: 0;
    left: 15px;
    transition: 0.5s ease-in-out;
}

.presentationServices a.actived::after {
    content : " ";
    width: 42%;
    height: 5px;
    background-color: #F4BD03;
    position: absolute;
    bottom: 0;
    left: 15px;
    transition: 0.5s ease-in-out;
}

.presentationServices a:hover:after {
    width: 42%!important;
}

.presentationServices .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: transparent;
}

.presentationServices p {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    opacity: 0.4;
    margin-top: 50px;
}

.timezones {
    margin-top: 80px!important;
}

.presentationFileTypes {
    margin-top: -80px!important;
}

.presentationServices ul li {
    list-style-type: none;
}

.presentationServices h5 {
    margin-left: -39px;
    margin-top: 30px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px!important;
    color: #000000;
    opacity: 0.8;
}

.presentationServices img {
    margin-right: 10px;
}

@media screen and (max-width: 576px ) {
    .presentationMainRow {
        max-width: 100%;
    }

    .presentationServices {
        margin-left: -5px;
    }

    .presentationServices p {
        margin-top: 50px;
        margin-left: 21px;
    }
    
    .timezones {
        margin-top: 80px!important;
    }
    
    .presentationFileTypes {
        margin-top: 80px!important;
    }
    
    .presentationServices h5 {
        margin-top: 80px;
        font-size: 15px!important;
        margin-left: -19px;
    }

    .presentationServices h3 {
        font-size: 20px;
    }

    .presentationServices a:hover:after {
        width: 76%!important;
    }
}

@media screen and (max-width: 992px ) {
    .presentationMainRow {
        max-width: 100%;
    }

    .presentationServices p {
        margin-top: 10px;
    }
    
    .timezones {
        margin-top: 10px!important;
    }
    
    .presentationFileTypes {
        margin-top: -30px!important;
    }

    .presentationServices a:hover:after {
        width: 70%!important;
    }
}
