@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&family=Poppins:ital,wght@0,700;1,400&display=swap');

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.mainPortfolio {
  background-color: rgb(40, 44, 52);
  height: 1193px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainPortfolio .titleContainer {
  max-width: 95%;
  display: flex;
  flex-direction: column;
}

.mainPortfolio .titleContainer h4 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 120px;
  margin-bottom: 40px;
  width: 50%;
}

.mainPortfolio .titleContainer .takeALook {
  height: 120px;
  margin-bottom: 40px;
}

.mainPortfolio .arrowContainer img {
  height: 34px;
  margin-bottom: 20px;
  margin-right: 15px;
}

.portfolioContainer .slidesIMG {
  width: 507.49px;
  height: 326px;
}

.mainPortfolio .portfolioContainer .carousel-control-next-icon,
.mainPortfolio .portfolioContainer .carousel-control-prev-icon {
  display: none;
}

.mainPortfolio .portfolioContainer .carousel-indicators {
  display: none;
}

.homePortfolio {
  background-color: #000000;
  height: 1193px;
}

.homePortfolio a {
  text-decoration: none;
  color: #FFFFFF;
  margin-left: 160px;
  margin-top: 200px;
}

.homePortfolio .titleContainer {
  display: flex;
  flex-direction: column;
  margin-left: 160px;
}

.homePortfolio .titleContainer h4 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 120px;
  margin-bottom: 40px;
  width: 50%;
}

.homePortfolio .titleContainer .takeALook {
  height: 120px;
  margin-bottom: 40px;
}

.homePortfolio .arrowContainer img {
  height: 34px;
  margin-bottom: 20px;
  margin-right: 15px;
}

.homePortfolio .portfolioContainer {
  margin-left: 150px;
}

.homePortfolio .portfolioContainer img {
  width: 507.49px;
  height: 326px;
}

.homePortfolio .portfolioContainer .carousel-control-next-icon,
.homePortfolio .portfolioContainer .carousel-control-prev-icon {
  display: none;
}

.homePortfolio .portfolioContainer .carousel-indicators {
  display: none;
}

@media screen and (max-width: 350px) {
  .mainPortfolio {
    height: 100%;
  }

  .mainPortfolio .titleContainer {
    margin-top: -54px!important;
    margin-left: -31px!important;
  }

  .mainPortfolio .portfolioContainer {
    margin-left: 0px!important;
  }

  .mainPortfolio .titleContainer .takeALook {
    height: 40px!important;
    margin-bottom: 10px;
  }

  .mainPortfolio .portfolioContainer .slidesIMG {
    width: 70%!important;
    min-width: 232.49px!important;
    height: 180px!important;
    margin-left: -5px;
  }
}

  
@media screen and (max-width: 576px) {
  .mainPortfolio {
    height: 100%;
  }

  .mainPortfolio .titleContainer {
    max-width: 90%;
    margin-top: -52px;
    margin-left: -30px;
  }

  .mainPortfolio .titleContainer h4 {
    font-size: 12.8px;
    margin-bottom: 10px;
  }

  .mainPortfolio .titleContainer .takeALook {
    height: 50px;
  }

  .mainPortfolio .portfolioContainer {
    margin-left: 0px;
    width: 85%;
  }

  .mainPortfolio .portfolioContainer img {
    width: 75%;
    min-width: 315.49px;
    height: 209px;
    margin-left: 26px;
  }

  .portifolioContent {
    width: 85vw;
    padding-left: 2%;
  }

  .homePortfolio {
    height: 100%;
  }

  .homePortfolio a {
    margin-left: 20px;
  }

  .homePortfolio .titleContainer {
    max-width: 90%;
    margin-top: -100px;
    margin-left: 15px;
  }

  .homePortfolio .titleContainer h4 {
    font-size: 12.8px;
    margin-bottom: 10px;
  }

  .homePortfolio .titleContainer .takeALook {
    height: 40px;
    margin-bottom: 10px;
  }

  .homePortfolio .portfolioContainer {
    margin-left: 20px;
    width: 80%;
  }

  .mainPortfolio .titleContainer {
    padding-left: 0px;
  }

  .mainPortfolio .portfolioContainer {
    padding-left: 0px;
  }

  .homePortfolio .portfolioContainer img {
    height: 180px;
    width: 100%;
  }
}

@media (min-width: 577px) and (max-width: 992px) {
  .mainPortfolio {
    height: 100%;
    overflow-x: hidden;
  }

  .mainPortfolio .titleContainer {
    margin-top: 50px;
    margin-left: -40px;
  }

  .mainPortfolio .titleContainer {
    margin-top: 50px;
    margin-left: -40px;
  }

  .mainPortfolio .titleContainer .takeALook {
    width: 70%;
    margin-bottom: 10px;
  }

  .homePortfolio {
    height: 100%;
    overflow-x: hidden;
  }
  
  .homePortfolio a {
    margin-left: 170px;
  }

  .homePortfolio .titleContainer .takeALook {
    width: 70%;
    margin-bottom: 10px;
  }

  .portifolioContent {
    width: 85vw;
      padding-left: 2%;
  }

  .mainPortfolio .titleContainer {
    padding-left: 0px;
  }

  .mainPortfolio .portfolioContainer {
    padding-left: 60px;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .mainPortfolio .portfolioContainer img {
    width: 415.49px;
    height: 295px;
  }

  .portifolioContent {
    width: 850px;
    max-width: 100%;
  }

  .controlsPortfolio {
    display: flex;
    justify-content: start;
    align-items: flex-end;
    width: 830px;
    min-width: 55%;
    height: 100px;
    margin-top: -30px;
  }
}

@media screen and (min-width: 1201px) {
  .portifolioContent {
    width: 1014px;
    max-width: 100%;
  }

  .controlsPortfolio {
    display: flex;
    justify-content: start;
    align-items: flex-end;
    width: 1014px;
    min-width: 33%;
    height: 100px;
    margin-top: -30px;
    padding-left: 5px;
  }
}
