@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header {
    width: 1440px;
    height: 96px;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 1.1em;
    background: linear-gradient(rgba(0.0,0.0,0.0,1.0), rgba(0.0,0.0,0.0,0.0));
    z-index: 99;
}

.header .headerImage {
    display: flex;
    align-items: center;
    padding-left: 8em;
}

.headerLinks {
    padding-left: 5em;
    display: flex;
    align-items: center;
}

.header .headerLinks a {
    font-family: 'Poppins', sans-serif;
    font-style: Bold;
    font-size: 18px;
    line-height: 27px;
    margin-right: 2em;
    color: #fff;
}

.header .headerLinks button {
    font-family: 'Poppins', sans-serif;
    background-color: #F4BD03;
    padding: 16px 32px;
    border-radius: 8px;
}