.carouselProjects {
    width: 100%;
}

.carouselProjects .carousel-item img {
    min-width: 100%;
    height: 480px;
}

.carouselProjects .projectsTitle {
    align-items: center;
    padding: 10px;
    color: #fff;
}

.projectsTitle h3 {
    font-family: 'Antonio';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
}

.carouselProjects .carousel-control-prev-icon {
    margin-left: -100px;
}

.carouselProjects .carousel-control-next-icon {
    margin-right: -100px;
}

.carouselProjects .carousel-control-next-icon,
.carouselProjects .carousel-control-prev-icon {
    display: block !important;
    color: #fff !important;
}

.carouselProjects .carousel-control-next-icon {
    margin-left: 100px;
    position: absolute;
}

.carouselProjects .carousel-control-prev-icon {
    margin-right: 150px;
    position: absolute;
}

.carousel-dark .carousel-control-next-icon,
.carousel-dark .carousel-control-prev-icon {
    filter: none;
}

@media only screen and (max-width: 350px) {
    .carouselProjects .projectsTitle h3 {
        width: 100%;
        margin-left: 25%;
        font-size: 16px;
    }

    .carouselProjects .carousel-item img {
        width: 100% !important;
        height: 160px;
        margin-left: 40px;
    }

    .carouselProjects .carousel-control-prev-icon {
        margin-right: -38px !important;
    }

    .carouselProjects .carousel-control-next-icon {
        margin-left: -31px !important;
    }
}


@media only screen and (max-width: 576px) {
    .carouselProjects .projectsTitle {
        margin-left: 25px;
    }

    .projectsTitle h3 {
        font-size: 24px;
    }

    .carouselProjects .carousel-item img {
        /* width: 88% !important; */
        height: 235px;
        min-width: 206px !important;
    }

    .carouselProjects .carousel-control-next-icon {
        margin-left: 0px;
    }

    .carouselProjects .carousel-control-prev-icon {
        margin-right: -10px;
    }
}

@media (min-width: 576px) and (max-width: 992px) {
    .carouselProjects .carousel-item img {
        min-width: 100%;
        width: 375px !important;
        height: 240px !important;
    }

    .projectsTitle  h3 {
        font-size: 24px;
    }
}