@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&family=Poppins:ital,wght@0,700;1,400&display=swap');

.singlePortfolio{
  background-color: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.singlePortfolio .portifolioContent a{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

.portifolioHeader{
  background: #373737;
  padding: 0;
}
.portfolio-single-banner{
  border-radius: 20px;
  width: 100%;
}

.portfolioDetails h3{
  font-family: 'Antonio';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 54px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #F4BD03;
  margin: 0;
}
.portfolioDetails p{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: #CACACA;
}

.portfolioDetails.industry span{
  background: #2D2C2C;
  border-radius: 5px;
  padding: 12px 19px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 28px;
  letter-spacing: 0.12em;
  color: #A0A0A0;
  margin-right: 12px;
  text-transform: uppercase;
  margin-bottom: 12px;
  display: inline-block;
}
.portfolioDetails.industry span:last-child{
  margin-right: 0;
}

.portfolioDetails .tech-stack{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0px;
  gap: 24px;
  flex-wrap: wrap;
}

.portfolio-single-image{
  max-width: 100%;;
}

.relatedProjectContainer h2{
  font-family: 'Antonio';
  font-style: normal;
  font-weight: 700;
  font-size: 92px;
  line-height: 130%;
  letter-spacing: 0.1em;
  color: #F4BD03;
  text-transform: uppercase;
}
.relatedProject .controlsPortfolio{
  width: 100%;
  justify-content: center;
}

@media (max-width:767px) {

  .portfolioDetails h3 {
    font-size: 24px;
    line-height: 31px;
  }

  .portfolioDetails.industry span {
    padding: 8px 12px;
    font-size: 14px;
    line-height: 21px;
  }

  .portfolioDetails .tech-stack {
    gap: 12px;
  }

  .portfolioDetails p {
    font-size: 16px;
    line-height: 30px;
  }

  .portfolioDetails .tech-stack img {
    max-height: 40px;
  }

  .relatedProjectContainer h2{
    font-size: 32px;
    line-height: 130%;
  }

  .form-left-side h1 {
    font-size: 32px;
    line-height: 44px;
    height: auto;
    margin: 0 0 16px;
  }

  .form-left-side {
    margin-top: 44px;
  }

  .form-left-side {
    margin-left: 0;
  }

  .form-left-side h4 {
    margin-bottom: 42px;
  }

  .form-right-side {
    margin-bottom: 0;
  }

}

@media (min-width: 351px) and (max-width: 576px) {
  .portfolio-single-title{
    width:300px
  }
  
}